/* Archive and Category general */


.fmc_archive_categories {
}
.fmc_archive_categories_inner {
 	background: linear-gradient(180deg, #f8f8f8 calc(100% - 2.375rem), rgba(0,0,0,0) calc(100% - 2.2rem));
	.carousel-cell {
		width: 22rem;
		height: 28.5rem;
		display: flex;
	}
	.fmc_archive_cat {
		border-top: 2px solid transparent;
		border-bottom: 3px solid transparent;
		opacity: .6;
		border-top: 2px solid transparent;
		border-bottom: 3px solid transparent;
		transform: scale(.8);
		filter: grayscale(1);
		transition: var(--site-transition);
		margin-bottom: 2.2rem;
		width: 100%;
		justify-content: start;
		&::after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			left: calc(50% - 3.2rem);
			border-style: solid;
			border-width: 2.2rem 3.2rem 0 3.2rem;
			border-color: var(--color-1) transparent transparent transparent;
			bottom: calc(-2.2rem - 1px);
			opacity: 1;
			transition: var(--site-transition);
			z-index: 9;
			opacity: 0;
		}
		&.current_cat, &:hover {
			opacity: 1;
			filter: grayscale(0);
			transform: scale(1);
			background-color: #fff;
			border-color: var(--color-1);
			&:after {
				opacity: 1;
			}
		}
		img {
			width: 10rem;
			margin: 0 auto;
		}
		figcaption {
			text-align: center;
			margin-top: 2rem;
			margin-bottom: 2rem;
			font-size: 2.2rem;
			color: #717581;
		}
		a {
			padding: 5rem 1.5rem 4.2rem;
			display: flex;
			flex-direction: column;
			height: calc(100% - 2.2rem);
		}
	}
}

.fmc_archive_wrap {
	.fmc_archive_inner {
		display: flex;
		flex-wrap: wrap;
	}
}

/* Pagination */

.pagination ul {
	display: flex;
	justify-content: center;
	li {
		&:not(:last-child) {
			margin-right: 1rem;
		}
		&:not(.prev):not(.next) {
			background-color: var(--color-2);
			a {
				width: 100%;
				height: 100%;
				color: #fff;
			}
			&.active {
				background-color: var(--color-1);
			}
		}
		a {
			display: flex;
			padding: 1rem;
			font-size: 2rem;
		}
	}
}


@media (min-width: 481px) and (max-width: 1199.5px) {
	.fmc_recipe {
		width: 48%;
	}
}
