/* Archive and Category general */
.first-posts-container, .rest-of-posts-container {
	display: flex;
	flex-wrap: wrap;
}
.fmc_ps_widget {
	margin-bottom: var(--spacing-1);
	width: 100%;
}
.fmc_featured_post {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--spacing-1);

	&:not(.fmc_featured_recipe) {
		@include tab-min {
			> div {
				width: 48%;
			}
		}
		@include mob-only {
			flex-direction: column;
			.fmc_featured_left {
				margin-bottom: var(--spacing-3);
			}
		}
	}
	&.fmc_featured_recipe {
		@include limbo-min {
			> div {
				width: 48%;
			}
		}
		@include tab-max {
			flex-direction: column;
			.fmc_featured_left {
				margin-bottom: var(--spacing-3);
			}
		}
	}
	@include tab-max {
		.fmc_featured_macros {
			width: 100%;
			max-width: 100%;
		}
	}
	@include limbo-max {
		.fmc_featured_macros {
			padding: 14px 24px;
			.rg_m_title {
				font-size: 14px;
			}
		}
	}
	.fmc_featured_left {
		@include tab-min {
			height: 42rem;
		}
		img {
			height: 100%;
			width: 100%;
			border-radius: 16px;
		}
	}
	.fmc_featured_right {
		display: flex;
		height: 100%;
		flex-direction: column;
	}
	a {
		text-decoration: none;
	}
	.fmc_featured_prefix {
		text-transform: uppercase;
		color: var(--misc-color);
		font-weight: 700;
		font-size: 12px;
		margin-bottom: var(--spacing-3);
		display: block;
	}
	.fmc_grid_meta {
		margin-bottom: 16px;
	}
	.fmc_featured_rating {
		margin-top: var(--spacing-3);
		margin-bottom: var(--spacing-3);
		span {
			font-size: 14px;
			font-weight: 700;
			top: -2px;
			position: relative;
			margin-left: 8px;
		}
		.reviews-number {
			color: var(--misc-color);
		}
	}
	.fmc_featured_text {
		margin-top: var(--spacing-3);
	}
	.fmc_featured_prep {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 0;
    	margin-top: auto;
		background-image: url(assets/icons/clock.svg);
		background-repeat: no-repeat;
		background-position: center left;
		padding-left: 32px;
		background-size: 20px;
		display: flex;
		span {
			font-weight: 700;
		}
		.fmc_time {
			color: var(--misc-color);
		}
		.fmc_f_time_container {
			margin-right: 12px;
		}
	}
}

.archive, .blog {
	.fmc_blog_archive_main {
		display: flex;
		flex-wrap: wrap;
		@include limbo-min {
			width: 64%;
			.fmc_post {
				width: 49%;
			}
		}
	}
	.fmc_post {
		&:nth-child(odd) {
			margin-right: 2%;
		}
	}

}

.fmc_archive_wrap {
	.fmc_archive_inner {
		display: flex;
		flex-wrap: wrap;
	}
}

/* Pagination */
.fmc_pagination_wrap {
	width: 100%;
}
.pagination ul {
	display: flex;
	justify-content: center;
	@include clean-list;
	li {
		display: flex;
		justify-content: center;
		align-items: center;
		&:not(:last-child) {
			margin-right: 1rem;
		}
		&.active {
			a {
				background-color: var(--color-5);
			}
		}
		a {
			display: flex;
			padding: 1rem;
			font-size: 15px;
			font-weight: 700;
			border-radius: 20px;
			width: 40px;
			height: 40px;
			justify-content: center;
			align-items: center;
		}
		&.prev, &.next {
			background-repeat: no-repeat;
			background-position: center;
			background-size: 20px;
			a {
				font-size: 0;
			}
		}
		&.prev {
			background-image: url(assets/icons/pagination-left.svg);
		}
		&.next {
			background-image: url(assets/icons/pagination-right.svg);
		}
	}
}
