.fmc_app {
	.img_bg {
		width: 50%;
		left: auto;
		@include desk-min {
			top: -3.8rem;
			height: calc(100% + 7.6rem);
			right: 3.5rem;
		}
		@include limbo-only {
			height: 100%;
			img {
				position: relative;
				bottom: -3.4rem;
			}
		}

		img {
			object-fit: contain;
			object-position: bottom right;
		}
	}
	.fmc_app_inner {
		background-color: var(--color-4);
		border-radius: 16px;
		padding: 6.4rem 7.2rem;
		@include tab-max {
			padding-bottom: 40rem;
		}
		.fmc_fa_prefix {
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 700;
			color: var(--misc-color);
		}
		.fmc_fa_content {
			margin-bottom: 4rem;
			p {
				font-size: 20px;
				line-height: 1.35;
			}
		}
		.fmc_app_icons {
			display: flex;
			max-width: 30rem;
			figure {
				width: 50%;

			}
		}
	}
}

footer.fmc_footer {
	p:last-child {
		margin-bottom: 0;
	}
	.fmc_container {
		display: flex;
	}
	.fmc_footer_main {
		.fmc_container {
			justify-content: space-between;
			flex-wrap: wrap;

		}
		.fmc_footer_col {
			flex: 18% 0 0;
			ul li {
				font-size: 15px;
			}
			p {
				font-size: 16px;
			}
			@include tab-max {
				&:not(:first-child) {
					margin-top: 20px;
				}
			}
			@include tab-only {
				flex: 48% 0 0;
			}
			@include mob-only {
				flex: 100% 0 0;
			}
		}
		.widget-title {
			font-size: 14px;
			font-weight: 800;
			text-transform: uppercase;
			margin-bottom: var(--spacing-3);
		}
		.widget_text {
			color: #666;
		}
		ul {
			@include clean-list;
			li {
				a {
					color: var(--link-color);
					font-weight: 700;
				}
				&:not(:last-child) {
					margin-bottom: var(--spacing-3);
				}
			}
		}
	}
	.fmc_copyright {
		.fmc_container {
			.widget {
				width: 100%;
				p {
					margin-top: 0;
					margin-bottom: 0;
					font-size: 14px;
					font-weight: 600;
					color: var(--link-color);
				}
			}
		}
	}
}
