.fmc_app {
	.fmc_app_leaf {
		z-index: 9;
		content: "";
		width: 22rem;
		height: 11.6rem;
		position: absolute;
		bottom: -5rem;
		right: 3.5rem;
	}
	.img_bg {
		width: 50%;
		left: auto;
		top: -3.8rem;
		height: calc(100% + 3.8rem);
		right: 13rem;
		@include limbo-only {
			height: auto;
			right: 5rem;
		}
		@include mob-only {
			right: 5rem;
			height: 140px;
			bottom: 0;
			top: auto;
		}
		img {
			object-fit: contain;
			object-position: bottom right;
		}
	}
	.fmc_app_leaf {
		@include limbo-only {
		z-index: 9;
		content: "";
		background-image: url(assets/images/app-leaf.webp);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom right;
		width: 22rem;
		height: 11.6rem;
		position: absolute;
		bottom: -5rem;
		right: -25px;
		}
		@include mob-only {
			right: 0;
		}
	}

	.fmc_app_inner {
		background-color: var(--color-4);
		border-radius: 16px;
		padding: 6.4rem 7.2rem;
		@include tab-only {
			padding-bottom: 40rem;
		}
		@include mob-only {
			padding-bottom: 100px;
			.fmc_app_icons {
				z-index: 3;
			}

		}
		.fmc_fa_prefix {
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 700;
			color: var(--misc-color);
		}
		.fmc_fa_content {
			margin-bottom: 4rem;
			@include limbo-only {
				max-width: 60%;
			}
			p {
				font-size: 20px;
				line-height: 1.35;
				@include mob-only {
					font-size: 18px;
					z-index: 3;
				}
			}
		}
		.fmc_app_icons {
			display: flex;
			@include limbo-min {
				max-width: 30rem;
			}
			figure {
				width: 140px;
				@include limbo-min {
					max-width: 50%;
				}
				&:first-child {
					margin-right: var(--spacing-3);
				}
				img {
					object-fit: contain;
				}
			}
		}
	}
}

footer.fmc_footer {
	p:last-child {
		margin-bottom: 0;
	}
	.fmc_container {
		display: flex;
	}
	.fmc_footer_main {
		.fmc_container {
			justify-content: space-between;
			flex-wrap: wrap;

		}
		.fmc_footer_col {
			&:first-child {
				width: 14%;
			}
			&:nth-child(2) {
				width: 24%;
			}
			&:nth-child(3) {
				width: 22%;
				@include limbo-min {
					margin-left: auto;
				}
			}
			&:nth-child(4) {
				width: 24%;
			}
			ul li {
				font-size: 15px;
			}
			p {
				font-size: 16px;
			}
			@include tab-only {
				&:first-child {
					width: 30%;
					order: 1;
				}
				&:nth-child(2) {
					width: 80%;
					order: 4;
					margin: var(--spacing-3) auto 0;
					text-align: center;
				}
				&:nth-child(3) {
					width: 30%;
					order: 2;
				}
				&:nth-child(4) {
					width: 30%;
					order: 3;
				}
			}
			@include mob-only {
				width: 100%!important;
				&:not(:first-child) {
					margin-top: var(--spacing-3);
				}
			}
		}
		.widget-title {
			font-size: 14px;
			font-weight: 800;
			text-transform: uppercase;
			margin-bottom: var(--spacing-3);
		}
		.widget_text {
			color: #666;
		}
		.widget_nav_menu ul {
			@include clean-list;
			li {
				a {
					color: var(--link-color);
					font-weight: 700;
					text-decoration: none;
				}
				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}
		}
	}
	.fmc_copyright {
		.fmc_container {
			@include mob-only {
				padding-top: 0;
			}
			.widget {
				width: 100%;
				p {
					margin-top: 0;
					margin-bottom: 0;
					font-size: 14px;
					color: var(--link-color);
				}
			}
		}
	}
}
