.fmc_breadcrumbs {
	font-size: 14px;
	width: 100%;
	span {
		span:first-child {
			a {
				font-size: 0;
				background-image: url(assets/icons/home.svg);
				width: 16px;
				height: 16px;
				background-repeat: no-repeat;
				display: inline-flex;
				top: -12px;
				margin-bottom: -16px;
				position: relative;
				background-position: center;
				margin-left: 0;
			}
		}
	}
	* {
		font-weight: 700;
		color: var(--misc-color);
	}
	a {
		color: var(--color-2);
		margin-left: 8px;
		margin-right: 8px;
		margin-bottom: 8px;
		display: inline-flex;
	}
	.breadcrumb_last {
		margin-left: 8px;
	}
}

.fmc_grid_cat {
	ul {
		display: flex;
		flex-wrap: wrap;
		@include clean-list;
	}
	a {
		font-family: Nunito;
		color: var(--link-color);
		font-weight: 700;
		font-size: 14px;
		background-color: var(--color-5);
		display: inline-flex;
		padding: 2px 8px;
		border-radius: 14px;
		width: fit-content;
		margin-right: 8px;
		margin-bottom: 8px;
	}
	li:last-child:not(:only-child) {
		a {
			margin-right: 0;
			margin-bottom: 0;
		}
	}
}

.fmc_grid_title {
	font-size: 18px;
    line-height: 1.36;
    font-weight: 700;
    text-align: left;
	margin-top: 4px;
	a {
		font-size: 18px;
		line-height: 1.36;
		margin: auto;
		font-weight: 700;
		margin-top: 0;
		text-align: left;
	}
}
.fmc_grid_content {
	margin-top: 8px;
}

.fmc_read {
	color: var(--misc-color);
	display: block;
	font-weight: 700;
	margin-top: 12px;
	font-size: 14px;
}

.fmc_pt_title {
	font-size: 6.5rem;
	margin-bottom: 2.5rem;
	text-align: center;
}

@include desk-min {
	.fmc_page_ad {
		width: 90%;
		max-width: 800px;
	}
}

.single {
	.post-categories {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: calc(2.5rem - 10px);
		@include clean-list;
		li {
			a {
				font-family: Nunito;
				color: var(--link-color);
				font-size: 14px;
				background-color: var(--color-5);
				display: inline-flex;
				padding: 2px 8px;
				border-radius: 14px;
				width: fit-content;
				font-weight: 700;
				margin-right: 12px;
				margin-bottom: 10px;
			}
		}
	}
}

/* Comments */
.comment-respond {
	#reply-title {
		width: 100%;
		padding-top: var(--spacing-3);
		small {
			margin-left: 8px;
			flex-shrink: 0;
		}
	}
}
.comment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: var(--misc-color);
	background-color: #F9FAFB;
	border-radius: 16px;
	padding: var(--spacing-3);
	.recipe_rate-wrapper {
		display: flex;
		justify-content: center;
		.recipe-rate-label {
			font-size: 15px;
			font-weight: 500;
			margin-right: 16px;
		}
	}
	label {
		display: none;
	}
	input:not(.submit), textarea {
		font-size: 15px;
		padding: 15px;
		width: 100%;
		border: 1px solid #F2F4F7;
		border-radius: 8px;
		&::placeholder {
			color: #999999;
		}
	}
	.comment-notes {
		width: 100%;
	}
	.comment-form-comment {
		width: 100%;
		textarea {
			height: 8.4rem;
			@include mob-only {
				height: 60px;
			}
		}
	}
	.comment-form-author, .comment-form-email {
		width: 48%;
		@include mob-only {
			margin-bottom: 0;
			width: 100%;
		}
	}
	.form-submit {
		width: 100%;
		margin-top: 0;
		@include mob-only {
			margin-top: 16px;
		}
		input {
			padding: 12px 16px;
			background-color: var(--color-1);
			border-radius: 8px;
			border: none;
			color: #fff;
			display: flex;
			max-width: 100%;
			justify-content: center;
			align-items: center;
			font-size: 15px;
			transition: var(--site-transition);
			font-weight: 700;
			cursor: pointer;
			margin-left: auto;
			&:hover {
				background-color: var(--color-2);
			}
		}
	}
}


.fmc_comments {
	.comment-awaiting-moderation {
		font-size: 14px;
		margin-top: 8px;
		display: block;
	}
	.fmc_rating {
		display: flex;
		align-items: center;

		z-index: 2;
		@include tab-min {
			margin-bottom: -60px;
			justify-content: flex-end;
			margin-left: auto;
			width: 50%;

		}
		.fmc_rating-wrapper {
			display: flex;
			flex-direction: column;
		}
		.rating {
			font-size: 32px;
			font-weight: 800;
			margin-right: 16px;
		}
		.reviews-number {
			font-size: 16px;
		}
	}
	.comments-title {
		font-size: 3rem;
	}
	.comment-body, .comment-text {
		padding-bottom: 24px;
		padding-top: 24px;
		border-bottom: 1px solid #F2F4F7;
		position: relative;

	}
	.description {
		p:not(.comment-date) {
			font-size: 16px;
		}
	}
	.comment-author {
		img {
			width: 8rem;
			height: 8rem;
			object-fit: cover;
		}
	}
	.comment-items {
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;
		.comment-date {
			font-size: 14px;
			font-weight: 700;
			color: var(--misc-color);
		}
	}
	.comment-list {
		list-style: none;
		padding: 0;

		.comment-author {
			img {
				display: none;
			}
			.fn {
				font-size: 16px;
				font-weight: 700;
			}
			.says {
				display: none;
			}
		}
		time {
			pointer-events: none;
			font-size: 13px;
			color: #888888;
		}
		.comment-metadata {
			display: none;
		}
		.comment-content {
			margin-top: 4px;
			font-size: 14px;
			p:not(.comment-date) {
				font-size: 16px;
			}
		}
		.reply {
			margin-top: 16px;
			background-image: url(assets/icons/reply-icon.svg);
			padding-left: 25px;
			background-repeat: no-repeat;
			background-size: 16px;
			line-height: 1;
			a {
				color: var(--link-color);
				font-size: 14px;
				font-weight: 700;
			}
		}
	}
	#cancel-comment-reply-link {
		font-size: 2rem;
	}
	.comment-reply-title {
		font-size: var(--title-size-3);
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: var(--spacing-2);
		width: 50%;
		font-weight: 700;
	}
	.comment-respond {

		.comment-notes {
			span {
				font-size: 18px;
				font-weight: 700;
			}
		}
	}
	@include mob-only {
		.comment-list {
			.comment-content {
				font-size: 16px;
				padding-top: 2rem;
				padding-left: 0;
			}
			.reply {
				background-size: 13px;
				padding-left: 15px;
				a {
					font-size: 13px;
				}
			}
		}
	}
}


.fmc_share {
	display: flex;
	flex-wrap: wrap;
	.fmc_pin {
		position: relative;
		background-color: #fff;
		.fmc_icon {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			pointer-events: none;
			svg {

			}
		}
		span:not(.fmc_icon) {
			opacity: 0;
			width: 40px;
			height: 40px;
		}
	}
	.fmc_fb, .fmc_twitter {
		svg {
			path {
				fill: transparent;
			}
		}
		&:hover {
			svg {
				path {
					fill: var(--color-2);
					stroke: #fff;
				}
			}
		}
	}
	> div {
		font-size: 2rem;
		color: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border-radius: 30px;
		transition: var(--site-transition);
		box-shadow: 0px 0px 20px rgba(60, 60, 60, 0.1);
		@include mob-only {
			font-size: 2.3rem;
		}
		.fmc_icon, a {
			width: 40px;
			height: 40px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
		&:hover {
			background-color: var(--color-2);
			svg {
				path {
					fill: #fff;
				}
			}
		}
	}
	svg {
		width: 20px;
		height: 20px;
		path {
			fill: var(--color-2);
			transition: var(--site-transition);
		}
	}
}
