html {
	font-size: 10px;
	@include md-desk-only {
		font-size: 9px;
	}
	@include sm-desk-only {
		font-size: 8px;
	}
	@include limbo-only {
		font-size: 7px;
	}
	@include tab-only {
		font-size: 6px;
	}
	@include mob-only {
		font-size: 5px;
	}
}
body {
	max-width: 2560px;
    margin: auto;
}
* {
	color: var(--text-1);
	font-family: Nunito;
	font-weight: 500;
}
div {
	position: relative;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Alpino;
	font-weight: 700;
	color: var(--text-1);
	margin: 0;
}

h2 {
	font-size: var(--title-size-3);
}

h3 {
	font-size: var(--title-size-4);
}

h4, h5 {
	font-size: var(--title-size-5);
}

p {
	font-size: 18px;
	&:first-child, &:first-of-type {
		margin-top: 0;
	}
	&:last-child, &:last-of-type {
		margin-bottom: 0;
	}
	@include tab-max {
		font-size: 16px;
	}
}

.img_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	left: 0;
    top: 0;
    bottom: 0;
    right: 0;
	img {
		@include img-fit;
	}
}

iframe {
	border-radius: 16px;
}

.fmc_container{
	width: var(--sh-site-width);
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 1199.5px) {
       margin: var(--sh-container-spacing);
    }
}
.wp-block-columns {
	margin-bottom: 0;
}
p {
	line-height: 1.375;
}

ul li {
	font-size: var(--body-size);
}

blockquote {
	background-image: url(assets/icons/quote.svg);
	background-repeat: no-repeat;
	margin: 0;
	background-size: 25px;
	padding: 8px var(--spacing-1);
	position: relative;
	margin-bottom: 8px;
	margin-bottom: var(--spacing-3);
	&:after {
		content: "";
		position: absolute;
		width: 25px;
		height: 25px;
		background-image: url(assets/icons/quote.svg);
		background-size: contain;
		background-repeat: no-repeat;
		right: 0;
		bottom: 25px;
		transform: rotate(180deg);
	}
	@include mob-only {
		background-size: 20px;
		&:after {
			width: 20px;
			height: 20px;
		}
	}
	* {
		font-size: var(--title-size-4)!important;
	}
}

.text_1 {
	color: var(	--text-1);
	font-size: var(--body-size);
	font-weight: 500;
}

.text_2 {
	color: var(	--text-1);
	font-size: var(--body-size-2);
	font-weight: 500;
}

.fmc_title_1 {
	font-size: var(--title-size-1);
	line-height: 1.17;
}
.fmc_title_2 {
	font-size: var(--title-size-2);
	line-height: 1.36;
}
.fmc_title_3 {
	font-size: var(--title-size-3);
	line-height: 1.36;
	font-family: Nunito;
}

.fmc_title_4 {
	font-size: var(--title-size-4);
	line-height: 1.36;
	font-family: Nunito;
}

.title_spacing_1 {
	margin-bottom: var(--spacing-1);
}

.title_spacing_2 {
	margin-bottom: var(--spacing-2);
}

.title_spacing_3 {
	margin-bottom: var(--spacing-3);
}

.spacing_1 {
	padding-top: var(--spacing-1);
	padding-bottom: var(--spacing-1);
}

.spacing_1_0 {
	padding-top: var(--spacing-1);
}
.spacing_0_1 {
	padding-bottom: var(--spacing-1);
}

.spacing_1_3 {
	padding-top: var(--spacing-1);
	padding-bottom: var(--spacing-3);
}

.spacing_2_3 {
	padding-top: var(--spacing-2);
	padding-bottom: var(--spacing-3);
}

.spacing_2 {
	padding-top: var(--spacing-2);
	padding-bottom: var(--spacing-2);
}

.spacing_2_0 {
	padding-top: var(--spacing-2);
}
.spacing_0_2 {
	padding-bottom: var(--spacing-2);
}

.spacing_1_2 {
	padding-top: var(--spacing-1);
	padding-bottom: var(--spacing-2);
}

.spacing_2_1 {
	padding-top: var(--spacing-2);
	padding-bottom: var(--spacing-1);
}
.spacing_3_0 {
	padding-top: var(--spacing-3);
}

.spacing_3_1 {
	padding-top: var(--spacing-3);
	padding-bottom: var(--spacing-1);
}
.spacing_3_2 {
	padding-top: var(--spacing-3);
	padding-bottom: var(--spacing-2);
}

.spacing_0_3 {
	padding-bottom: var(--spacing-3);
}



.spacing_3 {
	padding-top: var(--spacing-3);
	padding-bottom: var(--spacing-3);
}

.fmc_btn {
	padding: 12px 16px;
	background-color: var(--color-1);
	border-radius: 8px;
	color: #fff;
	display: flex;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	transition: var(--site-transition);
	font-weight: 700;
	&:hover {
		background-color: var(--color-2);
		color: #fff;
	}
}

.fmc_btn_2 {
	border: 2px solid var(--color-5);
	padding: 12px 16px;
	border-radius: 8px;
	color: #fff;
	display: inline-flex;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	transition: var(--site-transition);
	font-weight: 700;
	.btn_text {
		transition: var(--site-transition);
	}
	.btn_icon {
		margin-left: 12px;
		margin-right: 4px;
		transition: var(--site-transition);
	}
	&:hover {
		background-color: var(--color-2);
		border-color: var(--color-2);
		.btn_text {
			color: #fff;
		}
		.btn_icon {
			margin-left: 16px;
			margin-right: 0;
		}
	}
}

figure.fmc_grid_figure {
	margin-bottom: var(--spacing-3);
}
