.home, .archive, .single-product .related {
	.fmc_product {
		width: 23%;
		border: 2px solid #F2F4F7;
		display: flex;
		flex-direction: column;
		border-radius: 16px;
		padding: 24px;
		transition: var(--site-transition);
		&:hover {
			box-shadow: 0px 20px 40px rgba(52, 64, 84, 0.08);
		}
		@include limbo-min {
			&:not(:nth-child(4n + 4)) {
				margin-right: 2.5%;
			}
		}
		@include tab-only {
			width: 48%!important;
			margin-bottom: 4%;
			&:nth-child(5) {
				display: none;
			}
			&:nth-child(odd) {
				margin-right: 4%;
			}
		}
		@include mob-only {
			width: 100%!important;
			margin: 0 auto 4%;
		}
		figure {
			height: 25rem;
			margin-top: 0;
			text-align: center;
			img {
				max-height: 100%;
				max-width: 100%;
				object-fit: contain;

				object-position: top;
			}
		}
		.fmc_product_grid_bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 24px;
			del[aria-hidden=true] {
				display: none;
			}
			ins {
				text-decoration: none;
			}
			@include limbo-only {
				flex-direction: column;
				margin-top: auto;
				padding-top: 24px;
				span {
					margin-bottom: var(--spacing-3);
				}
			}
			span {
				font-size: 2.4rem;
				line-height: 1.375;
				font-weight: 800;
				@include tab-max {
					font-size: 18px;
				}
				bdi {
					font-weight: 800;
					text-decoration: none;
				}
			}
		}
		.fmc_btn {
			margin-left: auto;
			@include tab-max {
				font-size: 16px;
			}
		}
	}
}

.home {
	/* Featured Products */
	.fmc_home_products {
		.fmc_home_p_inner {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@include tab-max {
				padding-bottom: 0;
			}
		}
		.fmc_container {
			text-align: center;
		}
		.fmc_btn_2 {
			margin-top: var(--spacing-1);
		}
	}
	.fmc_top_title {
		text-align: center;
		font-size: var(--title-size-3);
		text-transform: uppercase;
		color: var(--color-2);
	}
	.fmc_title_1, .fmc_title_2 {
		text-align: left;
	}
}


/* Hero */

.fmc_hero_prefix {
	margin-bottom: calc(var(--spacing-3) + 8px);
	font-family: Nunito;
    color: var(--link-color);
    font-weight: 700;
    font-size: 14px;
    background-color: var(--color-5);
    display: inline-flex;
    padding: 2px 8px;
    border-radius: 14px;
    width: fit-content;
	@include mob-only {
		display: none;
	}
}
.fmc_hero_title {
	font-size: 6.4rem;
	line-height: 1.1;
	margin-bottom: var(--spacing-3);
	@include limbo-min {
		background: rgba(255,255,255, .6);
		border-radius: 16px;
		padding: 8px 16px;
		padding-bottom: 0;
		margin-bottom: 8px;
		padding-bottom: 8px;
	}
}
.fmc_hh_text {
	    @include limbo-min {
			background: rgba(255,255,255, .6);
			border-radius: 16px;
			padding: 8px 16px;
			padding-bottom: 0;
			margin-bottom: 8px;
		}
}
.fmc_app_badges {
	@include tab-max {
		margin-top: var(--spacing-1);
		text-align: center;
		display: none;
	}
	h5 {
		font-size: 15px;
		color: var(--link-color);
		font-family: Nunito;
		margin-bottom: 16px;
	}
	.fmc_app_icons {
		display: flex;
		justify-content: space-between;
		@include limbo-min {
			max-width: 300px;
		}
		@include tab-max {
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}
		figure {
			width: 48%;
			img {
				object-fit: contain;
			}
		}
	}

}

.fmc_home_hero {
	.fmc_container {
		z-index: 2;
		position: relative;
		@include limbo-min {
			display: grid;
			grid-template-columns: repeat(20, 1fr);
		}
		@include tab-max {
			display: flex;
			flex-direction: column;
			.asp_w_container {
				display: none;
			}
		}
	}
	.fmc_app_badges {
		margin-top: 9rem;
		.fmc_app_icons {
			@include limbo-min {
				max-width: 45%;
			}
		}
	}
	.fmc_hero_text {
		.fmc_hh_text {
			font-size: 20px;
			margin-bottom: var(--padding-2);
			margin-bottom: 4rem;
		}
	}
	.fmc_hh_left {
		grid-column: 1 / 10;
		grid-row: 1 / 2;
		z-index: 2;
		padding-top: 9rem;
		padding-bottom: 3.5rem;
		@include mob-only {
			padding-top: var(--spacing-1);
		}
	}
	.fmc_hh_right {
		grid-column: 6 / 21;
		grid-row: 1 / 2;
		z-index: 1;
		position: relative;
		img, picture {
			border-radius: 16px;
			@include mob-only {
				height: 230px;
			}
		}
		@include mob-only {
			height: 300px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
		@include limbo-max {
			padding: var(--spacing-3);
			padding-top: 20rem;
		}
		@include mob-only {
			padding-top: unset;
			padding-bottom: 0;
		}
		.fmc_hh_box {
			@include limbo-min {
				position: absolute;
				bottom: 30px;
				right: 25px;
			}
			background-color: #fff;
			border-radius: 16px;
			max-width: 344px;
			border: 2px solid var(--color-4);
			display: flex;
			z-index: 1;
			margin-left: auto;
			@include mob-only {
				width: 100%;
			}
		}
		.fmc_hr_left {
			padding: 16px 24px;
			min-width: 30rem;
			@include tab-min {
				width: calc(100% - 4rem - 14px);
			}
			@include mob-only {
				padding: 12px 16px;
				width: 100%;
			}
		}
		.fmc_hr_right {
			border-left: 2px solid var(--color-4);
			width: calc(4rem + 14px);
			box-sizing: border-box;
			@include mob-only {
				display: none;
			}
			a {
				width: 100%;
				height: 100%;
				padding: 16px 7px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 0 16px 16px 0;
				transition: var(--site-transition);
				&:hover {
					background-color: var(--color-1);
					svg {
						stroke: #fff;
					}
				}
			}
		}
	}
}

/* Logos */

.fmc_logos_track {
	background-color: #F9FAFB;
	.fmc_fi_title {
		text-align: center;
		color: var(--misc-color);
		text-transform: uppercase;
		font-weight: 800;
		font-size: 22px;
		font-family: Nunito;
		@include mob-only {
			font-size: 20px;
    		line-height: 1.36;
		}
	}
	width: 100%;
	/* enable Flickity by default */
	.carousel-logos:after {
		content: 'flickity';
		display: none; /* hide :after */
	}

	@include limbo-min {
		/* disable Flickity for large devices */
		.carousel-logos:after {
		content: '';
		}
	}
	.fmc_lt_inner {
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
		flex-wrap: wrap;
		display: flex;
		@include tab-max {
			flex-direction: column;
		}
	}
	@include mob-only {
		.carousel-logos {
			margin-left: -25px;
			margin-right: -25px;
		}
	}
	figure {
		position: relative;
		text-align: center;
		border-radius: 16px;
		height: fit-content;
		filter: grayscale(1);
		&:hover {
			filter: grayscale(0);
		}
		img {
			object-fit: contain;
		}
		@include limbo-min {
			width: calc(100% / 6 - 25px);
			border: 2px solid rgba(255, 255, 255, 0);
			transition: var(--site-transition);
			img {
				height: 80px;
			}
		}
		@include tab-only {
			margin-left: 2rem;
			margin-right: 2rem;
			img {
				height: 70px;
			}
		}
		@include mob-only {
			img {
				height: 50px;
			}
		}
		@include limbo-max {
			padding: 1.5rem 2rem;
		}
		svg {
			object-fit: contain;
			height: 75px;
		}
		svg {
			margin: auto;
			path {
				transition: var(--site-transition);
			}
		}
	}
}


/* Newsletter */

.fmc_newsletter {
	* {
		color: #fff;
	}
	.img_bg {
		bottom: 0;
		right: 0;
		pointer-events: none;
		top: unset;
		width: 60%;
		left: auto;
		@include limbo-min {
			height: calc(100% + 36px);
		}
		@include tab-only {
			width: 40%;
		}
		@include mob-only {
			height: 180px;
			width: 100%;
		}
		img {
			object-fit: contain;
			object-position: bottom right;
		}
	}
	.fmc_container {
		position: relative;
		background: linear-gradient(45deg, #101828 0%, #475467 100%);
		border-radius: 16px;
		padding: 8rem 0 8rem 7rem;
		@include mob-only {
			padding: 8rem 4rem 200px;
		}
		.fmc_newsletter_inner {
			@include limbo-min {
				max-width: 55rem;
				width: 50%;
			}
			@include tab-only {
				width: 70%;
			}
		}
		.nl_prefix {
			font-size: 12px;
			font-weight: 800;
			text-transform: uppercase;
			margin-bottom: 12px;
			display: block;
		}
		h2 {
			color: #fff;
		}
		.nl_content {
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 4rem;
			@include tab-min {
				width: 70%;
			}
		}
		.nl_input {
			width: 80%;
			@include mob-only {
				width: auto;

			}
			form {
				padding: 0!important;
				> div {
					min-height: unset!important;
				}
				> .kl-private-reset-css-Xuajs1 {
					&:after {
						content: "";
						position: absolute;
						width: 20px;
						height: 20px;
						background-image: url(assets/icons/letter.svg);
						left: 15px;
						background-repeat: no-repeat;
						background-position: center left;
						background-size: contain;
						@include mob-only {
							left: 7px;
							width: 18px;
						}
					}
				}
			}
			div[data-testid="form-row"] {
				background-color: #fff;
				border-radius: 8px!important;
				border: 1px solid #F2F4F7;
				box-shadow: 0px 8px 16px rgba(52, 64, 84, 0.08);

			}
			div[data-testid="form-component"] {
				padding: 4px!important;;
			}
			input {
				border: none!important;
				box-shadow: none!important;
			}
			input[type="email"] {
				height: 44px!important;
				background-repeat: no-repeat;
				padding-left: 42.5px!important;
				background-color: #fff!important;
				@include mob-only {
					padding-left: 30px!important;
					background-size: 18px;
					font-size: 14px!important;
				}

			}
			button {
				background-color: var(--color-1)!important;
				transition: var(--site-transition);
				font-size: 15px!important;
				width: 100px;
				font-family: Nunito!important;
				height: 44px!important;
				font-weight: 600!important;
				&:hover {
					background-color: var(--color-2)!important;
				}
				@include mob-only {
					width: 65px;
					font-weight: 500!important;
					font-size: 14px!important;
				}
			}
		}
	}
}

/* Featured Recipes */

.fmc_home_featured_recipes {
	.fmc_container {
		text-align: center;
	}
}


.fmc_category_track {
	width: 100%;
	/* .carousel-home:after {
		content: 'flickity';
		display: none;
	}

	@include limbo-min {
		.carousel-home:after {
		content: '';
		}
	} */
	.fmc_ct_inner {
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
		flex-wrap: wrap;
		display: flex;
	}

	figure {
		position: relative;
		text-align: center;
		border-radius: 16px;
		background-color: #fff;
		height: fit-content;
		img {
			object-fit: contain;
			margin: auto;
		}
		@include limbo-min {
			width: calc(100% / 6 - 25px);
			border: 2px solid rgba(255, 255, 255, 0);
			transition: var(--site-transition);
			img {
				height: 80px;
			}
		}
		@include tab-only {
			width: 30%;
			img {
				height: 70px;
				width: 70px;
				object-fit: contain;
			}
		}
		@include mob-only {
			width: calc(100% / 3);
			img {
				height: 50px;
				width: 70px;
				object-fit: contain;
			}
		}
		a {
			@include desk-min {
				padding: 3rem 4.3rem;
			}
			display: flex;
			flex-direction: column;
			@include limbo-max {
				padding: 1.5rem 2rem;
			}
		}
		svg {
			object-fit: contain;
			height: 75px;
		}
		figcaption {
			text-align: center;
			margin-top: 2rem;
			font-size: 18px;
			font-weight: 700;
			color: var(--link-color);
			@include mob-only {
				font-size: 16px;
			}
		}
		svg {
			margin: auto;
			path {
				transition: var(--site-transition);
			}
		}
		&:hover {
			border-color: var(--color-4);
			@include limbo-min {
				box-shadow: 0px 20px 40px rgba(52, 64, 84, 0.08);
			}
			svg {
				path {
					fill: var(--color-1);
				}
			}
		}
	}
}

.fmc_recipe_grid {
	.fmc_rg_inner {
		display: flex;
		flex-wrap: wrap;
		@include tab-max {
			padding-bottom: 0;
		}
	}
	.fmc_container {
		text-align: center;
	}
}

/* Latest Blog */

.home {
	.fmc_latest_blog {
		.fmc_latest_blog_inner {
			@include limbo-min {
				.fmc_post {
					&:nth-child(2), &:nth-child(3) {
						margin-right: 2%!important;
					}
					&:first-child {
						width: 100%;
						display: flex;
						figure {
							width: 50%;
							height: 42rem;
							margin-bottom: 0;
						}
						.fmc_post_content {
							width: 50%;
							padding-left: var(--spacing-2);
						}
						.fmc_grid_title {
							margin-bottom: 2.4rem;
							a {
								font-size: 4.8rem;
								line-height: 1.17;
								font-family: Alpino;
							}
						}
						.fmc_post_meta {
							display: flex;
							margin-top: auto;
							figure {
								width: 48px;
								height: 48px;
								margin-right: 12px;
								img {
									border-radius: 48px;
								}
							}
						}
					}
				}
			}
			.fmc_post:first-child {
				@include tab-max {
					.author_img, .author_name {
						display: none;
					}
					.fmc_grid_text {
						display: none;
					}
				}
			}
		}
	}
}

.fmc_latest_blog {
	.fmc_latest_blog_inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}


/* Global Post layout */

body:not(.archive):not(.blog) {
	.fmc_post {
		@include limbo-min {
			width: 32%;
			&:not(:last-child) {
				margin-right: 2%;
			}
		}
	}
}

.fmc_post {
	margin-bottom: var(--spacing-2);
	@include tab-only {
		width: 49%;
		.fmc_grid_figure {
			height: 40rem;
		}
		&:nth-child(odd) {
			margin-right: 2%;
		}
	}
	@include mob-only {
		width: 100%;
	}
	.fmc_post_content {
		display: flex;
		flex-direction: column;
	}
	.fmc_grid_figure {
		@include limbo-min {
			height: 27rem;
		}
		img, picture {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 16px;
		}
	}
	&:not(:first-child) {
		.author_img, .author_name {
			display: none;
		}
		.fmc_grid_text {
			display: none;
		}
	}
	.author_name {
		font-size: 16px;
		color: var(--text-1);
	}
	.fmc_post_meta {
		margin-top: 16px;
	}
	.fmc_pm_right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		* {
			font-weight: 700;
		}
	}
	.post_date {
		font-size: 14px;
		line-height: 19px;
		color: var(--misc-color);
	}
}

#dynamic-react-root + div {
	display: none;
}
