.fmc_mp_recipe {
	border: 2px solid #F2F4F7;
	padding: var(--spacing-3);
	border-radius: 16px;
	margin: var(--spacing-2) 0;
	.fmc_mpr_top {
		padding: 0 44px;
		background-image: url(assets/icons/fork-and-knife.svg);
		background-repeat: no-repeat;
		background-position: center left;
	}
	.recipe_no {
		font-weight: 800;
		font-size: 12px;
		line-height: 16px;
		color: var(--misc-color);
		text-transform: uppercase;
	}
	.fmc_mpr_title {
		margin-bottom: 1.6rem;
	}
	.fmc_recipe_times {
		display: flex;
		margin-bottom: var(--spacing-3);
		padding: 0 44px;
	}
	.fmc_time_wrap {
		font-size: 16px;
		font-weight: 700;
		display: flex;
		flex-direction: column;
		position: relative;
		padding-right: 24px;
		&:not(.fmc_total) {
			&:after {
				content: "";
				height: 12px;
				width: 1px;
				background-color: var(--color-5);
				position: absolute;
				right: 12px;
				top: calc(50% - 6px);
			}
		}
		.fmc_time {
			font-weight: 700;
			font-size: 14px;
			line-height: 19px;
			color: var(--misc-color);
		}
		.fmc_amount {
			font-weight: 700;
			font-size: 16px;
			line-height: 22px;
			color: var(--text-1);
		}
	}
	.fmc_cals {
		margin-left: auto;
		color: var(--color-2);
		font-size: var(--title-size-4);
		font-weight: 700;
	}
	.attachment-post-thumbnail {
		width: 100%;
		height: 35rem;
		border-radius: 16px;
		margin-bottom: var(--spacing-3);
	}
	.fmc_mpr_subtitle {
		margin-bottom: 16px;
		font-size: var(--title-size-4);
		font-family: Nunito;
	}
	.fmc_mpr_content {
		margin-bottom: var(--spacing-3);
		.fmc_sr_step:last-child {
			padding-bottom: 0;
		}
	}
	.fmc_macros_title {
		display: none;
	}
	.fmc_macros {
		background-color: var(--color-1);
		border-radius: 8px;
		padding: var(--spacing-3) var(--spacing-3);
		display: flex;
		justify-content: space-between;
		margin-bottom: var(--spacing-3);
		flex-wrap: wrap;
		.fmc_macro {
			display: flex;
			flex-direction: column;
			color: rgba(255, 255, 255, 0.5);
			font-weight: 700;
			font-size: 16px;
			line-height: 22px;
			@include mob-only {
				width: 26%;
				margin-bottom: .5rem;
				margin-top: .5rem;
			}
			span {
				color: #fff;
				font-size: var(--title-size-4);
				font-weight: 700;
				line-height: 1.375;
				margin-top: 4px;
			}
		}
		.fmc_macro_cals {
			display: none;
		}
	}
	.fmc_mpr_rm {
		font-weight: 700;
		font-size: 15px;
		line-height: 20px;
		background-image: url(assets/icons/chevron-right.svg);
		background-repeat: no-repeat;
		background-position: center right;
		background-size: 18px;
		padding-right: 23px;
		transition: var(--site-transition);
		&:hover {
			padding-right: 28px;
		}
	}
}

.single-meal-plan {
	.fmc_total {
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		font-weight: 700;
		.fmc_total_number {
			font-size: 20px;
			color: var(--color-1);
			font-weight: 800;
		}
	}
}



/* Archive */

.fmc_mp_archive_wrap {
	.fmc_arch_title {
		max-width: 90rem;
	}
	.fmc_arch_intro {
		font-size: 20px;
		margin-bottom: var(--spacing-1);
		max-width: 90rem;
	}
	.fmc_archive_inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.fmc_plan {
			margin-bottom: 4%;
			@include limbo-min {
				width: 48%;
			}
			border: 2px solid #F2F4F7;
			border-radius: 16px;
			padding: 20px;
		}
		.fmc_plan_images {
			display: flex;
			justify-content: space-between;
			@include mob-only {
				flex-direction: column;
				.right {
					display: none;
				}
			}
			@include tab-min {
				height: 292px;
				> div {
					width: calc(50% - 10px);
					img {
						height: 100%;
						width: 100%;
					}
				}
				.left {
					figure {
						height: 100%;
					}
				}
				.right {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					figure {
						height: calc(50% - 10px);
					}
				}
			}
		}
		.fmc_plan_title {
			margin-top: 20px;
			margin-bottom: 15px;
		}
		.fmc_plan_bottom {
			font-weight: 700;
			font-size: 16px;
			line-height: 22px;
			padding-left: 32px;
			background-image: url(assets/icons/fork-and-knife.svg);
			background-repeat: no-repeat;
			background-position: center left;
			background-size: 20px;
			span {
				font-size: 14px;
				line-height: 19px;
				color: var(--misc-color);
				display: block;
				font-weight: 700;
			}

		}
	}
}

.fmc_mp_archive_main {
	.fmc_mp_archive_anchors {
		width: 100%;
		display: flex;
		justify-content: center;
		border-bottom: 2px solid  #F2F4F7;;
		a {
			font-size: 16px;
			padding: 16px;
			font-weight: 700;
			border-bottom: 3px solid transparent;
			transition: var(--site-transition);
			color: #667085;
			&:hover {
				border-color: var(--color-1);
			}
		}
	}
	.fmc_mp_arch_main_inner {
		display: flex;
		justify-content: space-between;
		@include tab-max {
			flex-direction: column;
			.fmc_mp_archive_left {
				margin-bottom: var(--spacing-3);
			}
		}
	}
	@include limbo-min {
		.fmc_mp_archive_left {
			width: 75%;
		}
		.fmc_archive_sidebar {
			width: 23%;
		}
	}
	.fmc_archive_sidebar {
		.recipe_ad_sidebar {
			padding-top: 0;
			position: sticky;
			@include desk-min {
				top: 0;
			}
			@include limbo-only {
				top: 60px;
			}
		}
	}
	.fmc_mp_arch_sec {
		&:not(:first-child) {
			padding-top: var(--spacing-1);

		}
	}
}
