.custom-logo-link {
	line-height: 0;
}
.fmc_sitehead {
	.menu-item-has-children {
		cursor: pointer;
	}
	a {
		text-decoration: none;
	}
	.prosettings {
		display: none;
	}
}
.fmc_sitehead, .fmc_mobile_header {
	img {
		border-radius: 0;
	}
}
body:not(.home):not(.page-template-homepage-2) {
	.fmc_sitehead {
		border-bottom: 2px solid var(--color-4);

	}
}
@include desk-min {
	.fmc_mm_trigger, .fmc_mobile_header {
		display: none;
	}
	.fmc_sitehead {
		width: calc(100% - 70px);
		margin: auto;
		max-width: 1440px;
		.custom-logo {
			height: 100%;
			width: auto;
			width: 74px;
		}
	}
	.fmc_header {
		width: 100%;
		position: relative;
		margin: auto;
		display: flex;
		z-index: 9;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		.menu-main-container {
			display: flex;
			align-items: center;
		}
		#primary {
			display: flex;
			flex-wrap: wrap;
			z-index: 2;
			@include clean-list;
			height: 100%;
			align-items: center;
			margin-left: 4rem;
			> li {
				font-size:15px;
				justify-content: center;
				align-items: center;
				/* transition: var(--site-transition); */
				&:hover {
					background-color: var(--color-1);
					> a {
						color: #fff;
					}
					.sub-menu {
						opacity: 1;
						pointer-events: all;
						a {
							font-size: 14px;
						}
					}
				}
				a {
					height: 100%;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 1rem 2.5rem;
					font-weight: 700;
					color: var(--text-1);
				}
			}
			.sub-menu {
				position: absolute;
				display: flex;
				flex-direction: column;
				background-color: var(--color-1);
				min-width: 220px;
				@include clean-list;
				opacity: 0;
				pointer-events: none;
				li {
					a {
						color: #fff;
						justify-content: flex-start;
						&:hover {
							background-color: #fff;
							color: var(--color-1);
						}
					}
				}
			}
		}
		.fmc_header_right {
			display: flex;
			align-items: center;
			margin-right: 0;
			margin-left: auto;
			> * {
				margin-left: 30px;
			}
			.search_icon {
				margin-left: 20px;
				top: 2px;
				transition: var(--site-transition);
				background-position: center top 2px;
				background-repeat: no-repeat;
				cursor: pointer;
				svg {
					transition: var(--site-transition);
				}
			}
			.fmc_search_container {
				z-index: 9;
				display: flex;
				align-items: center;
				position: absolute;
				right: 130px;
				.asp_w_container  {
					width: 400px;
					display: none;
				}
			}
			.fmc_btn {
				padding: 10px 12px;
				flex-shrink: 0;
			}
		}
	}
}

@media (max-width: 780.5px) {
	.admin-bar {
		.fmc_mobile_header {
			top: 46px;
		}
		.fmc_header {
			top: calc(60px + 46px);
		}
	}
}
@media (min-width: 781px) and (max-width: 1199.5px) {
	.admin-bar {
		.fmc_mobile_header {
			top: 32px;
		}
		.fmc_header {
			top: calc(60px + 32px);
		}
	}
}
@include limbo-max {
	.fmc_mobile_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
		width: 100%;
		position: sticky;
		top: 0;
		z-index: 12;
		background-color: #fff;
		transition: var(--site-transition);
		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			background-color: #000;
			opacity: 0;
			transition: .4s ease-in-out;
			pointer-events: none;
		}
		figure {
			height: 100%;
		}
		img {
			height: 100%;
			width: auto;
		}
		.fmc_mobile_logo {
			height: 60px;
		}
	}
	.fmc_sitehead {
		z-index: 9;
	}
	.fmc_header {
		display: flex;
		flex-direction: column;
		background-color: #000;
		padding-bottom: 2rem;
		z-index: 9;
		width: calc(100% - 55px);
		position: fixed;
		top: 0;
		z-index: 9;
		display: none;
		.fmc_mobile_logo {
			height: 60px;
		}
		.custom-logo-link {
			img {
				height: 100%;
				object-fit: contain;
				object-position: left;
			}
		}
		.sub-menu {
			display: none;
		}
		ul {
			@include clean-list;
			&:not(.sub-menu) {
				padding-top: var(--spacing-1);
			}
			> li {
				-webkit-tap-highlight-color: transparent;
			}
			li {
				margin: 0 15px;
				a {
					font-size: 15px;
					color: #fff;
					padding: 2.5rem 5rem;
					display: flex;
					justify-content: space-between;
					position: relative;
					border-bottom: 1px solid rgba(255,255,255, .3);
				}
				&.menu-item-has-children {
					position: relative;
					.fmc_submenu_acitvator {
						content: "";
						width: 45px;
						height: 43.05px;
						position: absolute;
						top: 0;
						right: 0;
						background-image: url(assets/icons/chevron-down.svg);
						background-size: 25px;
						background-repeat: no-repeat;
						background-position: center;
						z-index: 9;
						transition: var(--site-transition);
						&.sub-open {
							transform: rotate(-180deg);
						}
					}

				}
				ul {
					li {
						a {
							padding: 1.5rem 5rem;
						}
					}
				}
			}
		}
		.fmc_btn {
			width: 300px;
			max-width: 90%;
			margin: 5rem auto;
		}
	}
	.fmc_mm_trigger {
		width: 35px;
		height: 30px;
		margin-right: 15px;
		mix-blend-mode: difference;
		transition: .4s ease-in-out;
		&:before, &:after, div {
			background-color: #fff;
			content: "";
			display: block;
			height: 3px;
			border-radius: 2px;
			margin: 7px 0;
			transition: 0.5s;
		}
		&::before {
			margin-top: 4px;
		}
		&:after {
			margin-bottom: 0;
		}

	}
	.fmc_nav_open {
		&::before {
			opacity: 1;
		}
		.fmc_mm_trigger {
			margin-right: 10px;
			&:before {
				transform: translateY(10px) rotate(135deg);
			}
			&:after {
				transform: translateY(-10px) rotate(-135deg);
			}
			div {
				transform: scale(0);
			}
		}
	}
	.cart_icon {
		margin-right: 20px;
	}
	.search_icon {
		margin-left: auto;
		margin-right: 20px;
		margin-top: 2px;
		svg {
			width: 20px;
			height: 20px;
		}
	}
	.fmc_header_right {
		.cart, .search_icon {
			display: none;
		}
	}
}
