.fmc_buttons {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	.fmc_btn {
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

/* Challenges */

.fmc_challenge_sec_1 {
	.wp-block-columns {
		gap: 0;
		.wp-block-column {
			figure {
				height: 100%;
				img {
					height: 100%;
				}
			}
			&:first-child {
				background-color: var(--color-1);
				padding: 4rem;
				h1 {
					font-size: 5rem;
					color: #fff;
				}
				p {
					color: #fff;
				}
			}
		}
	}
}

.fmc_challenge_sec_2 {
	background-color: #f9f9f9;
	border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
	.title {
		font-size: var(--title-size-4);
		text-transform: uppercase;
	}
}

.fmc_challenge_sec_3 {
	figure {
		margin-bottom: 2rem;
	}
	.wp-block-column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		h2 {
			margin-bottom: 2rem;
			margin-top: auto;
		}
	}
}

.fmc_challenge_sec_4 {
	background-color: #f9f9f9;
}


/* Book */

.fmc_preorder_logos.wp-block-columns {
	@include tab-only {
		justify-content: center;
		align-items: center!important;
		.wp-block-column {
			flex-basis: 30%!important;
			text-align: center;
			figure {
				text-align: center;
			}
		}
	}
	@include mob-only {
		.wp-block-column {
			text-align: center;
			figure {
				text-align: center;
			}
		}
	}
}

/* Contact */

.fmc_contact_columns {
	gap: 0;
	.wp-block-column {
		figure {
			height: 100%;
			img {
				@include img-fit;
			}
		}
		@include limbo-min {
			p {
				width: 90%;
			}
		}
		&.form-column {
			background-color: var(--color-1);
			padding: 4rem;
			h1 {
				color: #fff;
			}
			.wpforms-container {
				margin: 0;
				input, textarea {
					font-size: 20px;
				}
			}
			button.wpforms-submit {
				background-color: var(--color-2);
				border: none!important;
				color: #fff;
				width: 100%;
				transition: var(--site-transition);
				&:hover {
					background-color: var(--color-2);
					opacity: .8;
				}
			}
			@include mob-only {
				.wpforms-field-email {
					padding-top: 0!important;
				}
				.wpforms-one-half {
					width: 100%;
					margin-left: 0;
					padding: 10px 0;
				}
			}
		}
	}
}

.fmc_contact_social {
	p {
		margin-bottom: 0;
		margin-top: 0;
	}
	.wp-social-link {
		path {
			fill: var(--color-1);
		}
	}
}

.fmc_our_bodies {
	padding: 4rem;
	background-color: var(--color-1);
	color: #fff;
	margin-top: 2rem;
}


/* Cookbook */

.fmc_text_w_bg {
	background-color: var(--color-1);

	@include tab-min {
		margin: 0 25px;
		padding: 22rem 19rem 25rem 19rem;
	}
	@include mob-only {
		padding: 25rem 5rem;
	}
	border-radius: 16px;
	p {
		font-size: var(--title-size-2);
		font-weight: 700;
		font-family: Alpino;
		color: #fff;
		max-width: 100rem;
		margin: auto;
		@include mob-only {
			font-size: 20px;
		}
	}
}

.fmc_cookbook_video {
	.wp-block-embed__wrapper {
		text-align: center;
		margin-top: -17rem;
	}
	iframe {
		width: 100rem;
		height: 60rem;
		margin: auto;
		box-shadow: 0px 0px 100px rgba(52, 64, 84, 0.16);
		border-radius: 32px;
		border: 16px solid #fff;
		@include mob-only {
			border-width: 8px;
		}
	}
}

.cookbook_blurbs {
	padding: 10rem 0;
	@include tab-only {
		.fmc_blurb:last-child {
			margin-left: auto;
			margin-right: auto;
		}
	}
}


.fmc_cookbook_section_wrap {
	background: linear-gradient(180deg, rgba(244, 244, 244, 0) 0%, #F4F4F4 100%);
	border-radius: 16px;
	margin-left: 25px;
	margin-right: 25px;
	.wp-block-group__inner-container {
		background-image: url(assets/images/app-cta-bg.svg);
		background-position: center bottom;
		background-repeat: no-repeat;
	}
 }

 .cookbook_about_kevin {
	padding: 10rem 0;
	.rm_link {

		margin-top: var(--spacing-2);
		a {
			color: var(--color-1);
		}
	}
 }

 .cookbook_get_fit {
	padding: 8rem 0;
	border-radius: 16px;
	@include tab-min {
		margin: 0 25px;
	}
	.fmc_btn {
		margin-top: var(--spacing-2);
		background-color: #fff;
		color: #374151;
	}
 }

// App

.fmc_app_grid {
	.wp-block-columns {
		margin-bottom: var(--spacing-3);
	}
	.fmc_app_grid_title {
		font-weight: 700;
		font-family: Alpino;
		strong {
			font-family: Alpino;
			color: var(--color-1);
		}
	}
}


.fmc_app_play {
	padding: 12rem 0 var(--spacing-1) 0;
	.fmc_title_2 {
		strong {
			font-family: Alpino;
			color: var(--color-1);
		}

	}
	p {
		max-width: 540px;
		margin: auto;
	}
}

/* About */

.about_title {
	max-width: 90rem;
}

.about_5_caption {
	font-size: 20px;
	max-width: 800px;
	margin: auto;

}

.about_results_before {
	font-weight: 500;
	strong {
		color: var(--color-1)
	}
}


/* Contact */

.page-template-page-contact {
	.img_bg {
		z-index: -1;
		width: 30%;
		right: 0;
		left: auto;
		img {
			border-radius: 16px 0 0 16px;
		}
		@include tab-max {
			height: 30rem;
			width: 100%;
			img {
				border-radius: 0 0 16px 16px;
			}
		}

	}
	.fmc_contact_content {
		padding-top: 8rem;
		padding-bottom: 8rem;
		@include tab-max {
			padding-top: 36rem;
			padding-bottom: var(--spacing-1);
		}
		 .wp-block-columns {
			justify-content: space-between;
			@include tab-max {
				flex-direction: column;
			}
		}
	}
	.fmc_form {
		padding: var(--spacing-2);
		border: 2px solid #EAECF0;
		box-shadow: 0px 20px 40px rgba(52, 64, 84, 0.08);
		border-radius: 16px;
		background-color: #fff;
		margin: 0!important;
		@include mob-only {
			.wpforms-one-half {
				width: 100%!important;
				margin-left: 0!important;
			}
			.fmc_contact_name {
				.wpforms-one-half:last-child {
					margin-top: var(--spacing-3);
				}
			}
		}
		@include tab-max {
			margin-top: var(--spacing-3)!important;
		}
		label {
			color: #667085;
			font-weight: 700;
			font-size: 14px;
			line-height: 19px;
		}
		.wpforms-field {
			padding: 16px 0!important;
			@include mob-only {
				padding: calc(var(--spacing-3) / 2) 0!important;
			}
		}
		input[type=text], input[type=email], textarea {
			background-color: #F9FAFB!important;
			height: 44px!important;
			border: 1px solid #F2F4F7!important;
			&::placeholder {
				color: #98A2B3;
			}
		}
		button.wpforms-submit {
			background-color: var(--color-1)!important;
			width: 100%;
			border-radius: 8px;
			font-size: 15px!important;
			color: #fff!important;
			height: 44px;
			&:hover {
				background-color: var(--color-2)!important;
			}

		}
	}
	.fmc_contact_info {
		display: flex;
		flex-direction: column;
	}
	.wp-social-link {
		path {
			color: #fff;
		}
	}
	.fmc_emails {
		margin-top: auto;
		margin-bottom: 0;
		@include limbo-only {
			flex-direction: column;
		}
		.wp-block-column {
			background-image: url(assets/icons/email.svg);
			background-repeat: no-repeat;
			background-position: center left;
			padding-left: 35px;
		}
		h4 {
			font-size: 18px;
			line-height: 25px;
		}
		a {
			font-size: 16px;
		}
	}
}
