.fmc_categories {
	margin-bottom: 5px;
	flex-wrap: wrap;
}
.nag {
	display: none!important;
}

/* Single */

.fmc_post_hero {
	.fmc_post_hero_top {
		display: flex;
		justify-content: space-between;
		@include tab-max {
			flex-direction: column;
		}
		.fmc_post_hero_right {
			flex-shrink: 0;
			display: flex;
			align-items: flex-start;
			margin-bottom: var(--spacing-3);
			.fmc_top_author {
				margin-top: 0;
			}
			@include limbo-min {
				margin-left: var(--spacing-3);
			}
			@include mob-only {
				flex-direction: column;
				.last_updated {
					order: 2;
				}
			}
		}
		.last_updated {
			margin-bottom: 0;
			margin-top: 4px;
			@include tab-min {
				flex-direction: column;
			}
		}
	}
	@include limbo-min {
		.fmc_post_featured {
			position: relative;
			h1 {
				position: absolute;
				top: 50%;
				background: rgba(255, 255, 255, 0.6);
				padding: 8px 16px;
				border-radius: 0 16px 16px 0;
				transform: translateY(-50%);
				max-width: 80%;
				z-index: 2;
			}
		}

	}
	figure {
		width: 100%;
		max-height: 60rem;
		position: relative;
		img, picture {
			width: 100%;
			border-radius: 16px;
			height: 100%;
			max-height: 60rem;
		}
	}
}

.fmc_post_main {
	display: flex;
	@include mob-only {
		flex-direction: column;
	}
	.fmc_post_share {
		width: 10rem;
		flex-shrink: 0;
		display: flex;
		height: fit-content;
		flex-direction: column;
		position: sticky;
		top: var(--spacing-3);
		margin-bottom: var(--spacing-3);
		align-items: flex-start;
		@include tab-only {
			width: 70px;
		}
		@include mob-only {
			width: 100%;
			flex-direction: row;
			order: 3;
			margin-top: var(--spacing-3);
			justify-content: center;
			div:not(:last-child) {
				margin-right: 25px;
			}
		}
		div {
			margin-bottom: 10px;
		}
	}
	.fmc_sp_post_content {
		width: 58%;
		flex-shrink: 0;
		@include tab-only {
			width: calc(100% - 70px);
		}
		@include mob-only {
			width: 100%;
		}
		p {
			margin-top: 0;
			strong {
				font-weight: 700;
			}
		}
		h2 {
			margin-bottom: var(--spacing-3);
			&:not(:first-child) {
				margin-top: var(--spacing-3);
			}
		}
		h3, h4 {
			margin-top: 3rem;
			margin-bottom: 2.4rem;
		}
		img {
			height: 100%;
			border-radius: 16px;
		}
		.wp-block-buttons {
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
		.wp-block-embed__wrapper {
			margin-top: var(--spacing-3);
			margin-bottom: var(--spacing-3);
		}
	}
	.fmc_author {
		display: flex;
		@include mob-only {
			flex-direction: column;
			margin-top: var(--spacing-3);
			margin-bottom: var(--spacing-3);
		}
		.fmc_author_img {
			width: 80px;
			flex-shrink: 0;
			margin-top: var(--spacing-3);
			margin-right: var(--spacing-3);
			img {
				width: 80px;
				height: 80px;
				border-radius: 80px;
			}
		}
		.fmc_author_prefix {
			font-size: 14px;
			color: var(--misc-color);
			margin-bottom: 0!important;
			text-transform: none;
			font-family: Nunito;
		}
		h4 {
			font-size: 18px;
			margin-top: 8px;
			margin-bottom: 8px;
		}
		.fmc_author_content {
			* {
				font-size: 16px;
			}
		}
	}
}
.fmc_post_sidebar {
	width: 31%;
	margin-left: auto;
	margin-right: 0;
	flex-direction: column;
	.fmc_ps_widget {
		margin-bottom: var(--spacing-2);
		margin-top: var(--spacing-2);
	}
	@include tab-max {
		display: none;
	}
	.fmc_blog_sidebar_grid {
		div.fmc_post {
			width: 100%;
			margin-right: 0;
			display: flex;
			margin-bottom: var(--spacing-3);
			figure {
				width: 85px;
				height: 85px;
				margin-right: var(--spacing-3);
				flex-shrink: 0;
				margin-bottom: 0;
			}
		}
	}
	.fmc_tc_inner {
		background-color: #F9FAFB;
		padding: var(--spacing-2);
		border-radius: var(--site-br);
		display: flex;
		flex-direction: column;
		a {
			font-size: 18px;
			line-height: 25px;
			font-weight: 700;
			&:not(:last-child) {
				margin-bottom: var(--spacing-3);
			}
			span {
				color: var(--misc-color);
				font-weight: 700;
			}
		}
	}
}
.wp-block-button__link {
	padding: 12px 16px;
	background-color: var(--color-1);
	border-radius: 8px;
	color: #fff;
	display: flex;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	transition: var(--site-transition);
	font-weight: 700;
	&:hover {
		background-color: var(--color-2);
		color: #fff;
	}
}

.fmc_post_order {
	h2 {
		span {
			color: var(--color-1);
			margin-right: 1rem;
		}
	}
	.fmc_po_content {
		padding-top: 5rem;
		padding-bottom: 4rem;
	}
}
