.fmc_categories {
	margin-bottom: 5px;
}

/* Single */

.fmc_post_hero {
	figure {
		width: 100%;
		max-height: 60rem;
		img, picture {
			width: 100%;
			border-radius: 16px;
			height: 100%;
			max-height: 60rem;
		}
	}
	.fmc_post_date {
	}
}

.fmc_post_main {
	display: flex;
	@include mob-only {
		flex-direction: column;
	}
	.fmc_post_share {
		width: 100px;
		flex-shrink: 0;
		display: flex;
		height: fit-content;
		flex-direction: column;
		position: sticky;
		top: var(--spacing-3);
		margin-bottom: var(--spacing-3);
		align-items: flex-start;
		@include tab-only {
			width: 70px;
		}
		@include mob-only {
			width: 100%;
			flex-direction: row;
			order: 3;
			margin-top: var(--spacing-3);
			justify-content: center;
			div:not(:last-child) {
				margin-right: 25px;
			}
		}
		div {
			margin-bottom: 10px;
		}
	}
	.fmc_post_content {
		width: 58%;
		flex-shrink: 0;
		@include tab-only {
			width: calc(100% - 70px);
		}
		@include mob-only {
			width: 100%;
		}
		p {
			margin-top: 0;
			margin-bottom: 0;
			strong {
				font-weight: 700;
			}
		}
		h2 {
			font-size: var(--title-size-3);
			margin-bottom: var(--spacing-3);
			&:not(:first-child) {
				margin-top: var(--spacing-3);
			}
		}
		h3 {
			font-size: var(--title-size-4);
			margin-bottom: 3rem;
			margin-top: 3rem;
		}
		ul {
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
		img {
			height: 100%;
			border-radius: 16px;
		}
		.wp-block-buttons {
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
	}
}
.fmc_post_sidebar {
	width: 31%;
	margin-left: auto;
	margin-right: 0;
	flex-direction: column;
	.fmc_ps_widget {
		margin-bottom: var(--spacing-2);
	}
	@include tab-max {
		display: none;
	}
}
.wp-block-button__link {
	padding: 12px 16px;
	background-color: var(--color-1);
	border-radius: 8px;
	color: #fff;
	display: flex;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	transition: var(--site-transition);
	font-weight: 700;
	&:hover {
		background-color: var(--color-2);
		color: #fff;
	}
}

.fmc_post_order {
	h2 {
		span {
			color: var(--color-1);
			margin-right: 1rem;
		}
	}
	.fmc_po_content {
		padding-top: 5rem;
		padding-bottom: 4rem;
	}
}
