.single-product {
	.commentlist {
		@include clean-list;
	}
	.woocommerce-notices-wrapper {
		.woocommerce-message {
			width: var(--sh-site-width);
			margin-left: auto;
			margin-right: auto;
			background-color: transparent;
			font-size: 18px;
			padding: 2rem 0;
			display: flex;
			flex-direction: row-reverse;
			justify-content: center;
			align-items: center;
			a {
				margin-left: 2rem;
				background-color: var(--color-1);
				color: #fff;
				padding: .5rem 3rem;
			}
		}
	}
	.fmc_product_wrap {
		display: flex;
		justify-content: space-between;
		@include tab-max {
			flex-direction: column;
		}
	}
	@include limbo-min {
		.fmc_product_left {
			width: 72%;
		}
	}
	.fmc_product_right {
		background-color: #F9FAFB;
		padding: var(--spacing-3);
		border-radius: 16px;
		height: fit-content;
		width: 100%;
		max-width: 300px;
		position: sticky;
		top: 0;
		.fmc_bp_title {
			font-size: 16px;
			font-weight: 800;
			font-family: Nunito;
			background-image: url(assets/icons/shopping-bag.svg);
			background-repeat: no-repeat;
			background-position: center left;
			padding-left: 28px;
		}
		.fmc_product_quantity-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include limbo-min {
				padding-top: 16px;
				border-top: 2px solid #F2F4F7;
				margin-top: 16px;
		}
			}
		.quantity {
			display: flex;
		}
		.fmc_product_quantity_label {
			font-size: 14px;
			font-weight: 700;
			color: var(--link-color)
		}
		input.input-text {
			width: 42px;
			height: 32px;
			text-align: center;
			font-size: 16px;
			font-weight: 700;
			color: var(--text-1);
			border: none;
			background-color: transparent;
			&[type=number] {
				-moz-appearance: textfield;
			}
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}
		}
		input {
			&.minus, &.plus {
				width: 32px;
				height: 32px;
				background-color: #fff;
				border: 1px solid #EAECF0;
				cursor: pointer;
				border-radius: 8px;
				&:active {
					opacity: .6;
				}
			}
			&.minus {
				font-size: 20px;
			}
			&.plus {
				font-size: 20px;
			}
		}
		.fmc_product_price {
			padding-top: 16px;
			border-top: 2px solid #F2F4F7;
			margin-top: 16px;
			.fmc_product_unit_total-wrapper {
				margin-top: 20px;
			}
			> div {
				display: flex;
				justify-content: space-between;
				align-items: center;
				* {
					font-size: 14px;
					line-height: 19px;
					color: var(--link-color);
					font-weight: 700;
				}
				p {
					margin: 0;
				}

				.fmc_product_unit_price {
					color: #374151;
				}
				.fmc_product_unit_total, .fmc_product_unit_total-js {
					color: #374151;
					font-size: 24px;
				}
			}
		}
		.fmc_btn {
			width: 100%;
			border: none;
			margin-top: 20px;
		}
		@include tab-max {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			top: auto;
			max-width: 100%;
			z-index: 9;
			padding: 16px;
			.fmc_bp_title, .fmc_product_unit_total-wrapper {
				display: none!important;
			}
			form {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.fmc_product_quantity_label {
					display: none;
				}
				.fmc_product_quantity-wrapper, .fmc_product_unit_price-wrapper {
					display: flex;
					flex-direction: column;
				}
				.fmc_product_quantity-wrapper {
					width: 32%;
				}
				.fmc_product_price {
					width: 32%;
					padding: 0;
					margin: 0;
					border: 0;
					.fmc_product_unit_price {
						font-size: 20px;
						margin-top: 4px;
					}
				}
				.fmc_btn {
					width: 32%;
					margin: 0;
				}
				input.input-text {
					width: 35px;
				}
			}
		}
		@include limbo-only {
			top: 60px
		}
	}
	.fmc_product_main {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.onsale {
			display: none;
		}
		> div {
			box-sizing: border-box;
		}

		.woocommerce-product-gallery {
			.flex-viewport {
				border: 2px solid var(--color-5);
				border-radius: 16px;
				img {
					max-width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			.woocommerce-product-gallery__image {
				display: flex!important;
				justify-content: center;
				align-items: center;
			}
			@include limbo-min {
				width: 43%;
				.flex-viewport, .woocommerce-product-gallery__image,  {
					height: 38rem!important;
				}
			}
			@include tab-max {
				width: 100%;
			}
			.flex-active-slide {

				a {
					pointer-events: none;
				}
			}
		}
		.summary {
			display: flex;
			flex-direction: column;
			.rating {
				font-size: 14px;
				font-weight: 700;
				top: -2px;
				position: relative;
				margin-left: 8px;
			}
			.reviews-number {
				font-weight: 700;
				font-size: 14px;
				line-height: 19px;
				color: var(--misc-color);
				top: -2px;
				position: relative;
				margin-left: 8px;
			}
			@include limbo-min  {
				width: 54%;
			}
			.product_title {
				font-size: var(--title-size-1);
    			line-height: 1.17;
				margin-bottom: 16px;
				@include tab-max {
					margin-top: 2rem;
				}
			}
			.price {
				font-size: var(--title-size-3);
				line-height: 1;
				order: 4;
				margin-top: var(--spacing-2);
				del {
					color: #D0D5DD;
					bdi, span {
						color: #D0D5DD;
						font-size: 20px;
						font-weight: 700;
						line-height: 1.375;
						@include mob-only {
							font-size: 18px;
						}
					}
				}
				ins {
					text-decoration: none;
				}
				bdi, span {
					color: var(--text-1);
					font-weight: 700;
					line-height: 1.375;
					font-size: 32px;
					@include mob-only {
						font-size: 28px;
					}
				}
				bdi {
					display: block;
				}

			}
			.woocommerce-product-details__short-description {
				margin-top: 16px;
			}
			.single_add_to_cart_button {
				width: 100%;
				border: none;
				svg {
					margin-top: 5px;
					margin-right: 10px;
				}
			}
			.product_meta {
				display: none;
			}
		}
		ol.flex-control-thumbs {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			padding: 0;
			li {
				width: 17.5%!important;
				margin-bottom: 2.5%;
				cursor: pointer;
				&:not(:nth-child(5n + 5)) {
					margin-right: 3.125%!important;
				}
				img {
					@include img-fit;
					border-radius: 8px;
					&.flex-active {
						border-radius: 3px;
					}
				}
			}
		}
	}

	.fmc_whats_inside {
		.fmc_main_title {
			text-align: center;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.fmc_product_why {
		border-bottom: 2px solid #F2F4F7;
	}

	.fmc_product_why_inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.fmc_product_why_ib {
			background-color: #fff;
			text-align: center;
			@include limbo-min {
				width: 30%;
				margin-bottom: 2%;
				&:not(:nth-child(3n + 3)) {
					margin-right: 5%;
				}
			}
			@include tab-only {
				width: 48%;
				margin-bottom: 4%;
				&:not(:nth-child(even)):not(:last-child) {
					margin-right: 4%;
				}
			}
			@include mob-only {
				width: 100%;
				margin-bottom: 4%;
			}
			h4 {
				font-size: 20px;
				margin-bottom: 8px;
			}
			div {
				* {
					font-size: 16px;
					color: var(--link-color);
				}
			}
		}
	}


	.wc-tabs {
		display: flex;
		flex-direction: column;
		z-index: 1;
		@include clean-list;
		.description_tab a {
			background-image: url(assets/icons/description.svg);
			padding-left: 30px;
			background-repeat: no-repeat;
			background-position: center left;
		}
		.reviews_tab a {
			background-image: url(assets/icons/review.svg);
		}
		> li {
			border-bottom: 2px solid #F2F4F7;
			a {
				font-size: 24px;
				font-weight: 800;
				padding-left: 30px;
				background-repeat: no-repeat;
				background-position: center left;
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: space-between;
				&::after {
					content: "";
					background-image: url(assets/icons/tab-arrow-down.svg);
					width: 12px;
					height: 8px;
					display: inline-flex;
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}
			}
			&.active {
				a:after {
					transform: scaleY(-1);
				}
			}
		}
	}
	.woocommerce-Tabs-panel {
		transition: var(--site-transition);
		padding-top: var(--spacing-3);
		line-height: 1.35;
	}

	.related {
		.products {
			display: flex;
			flex-wrap: wrap;
			@include limbo-min {
				.fmc_product {
					width: 32%;
					margin-right: 0;
					&:not(:nth-child(3)) {
						margin-right: 2%;
					}
				}
				.fmc_product:nth-child(4) {
					display: none;
				}
			}
		}
	}
}


/* Cart */

.woocommerce-cart {
	background-color: var(--color-3);
	.woocommerce-cart-form {
		background-color: #fff;
		padding: 3rem;
		table {
			width: 100%;
		}
		tbody {
			border-top: 11px solid var(--color-1);
			display: flex;
			flex-direction: column;
		}
		tr {
			display: flex;
		}
		.woocommerce-cart-form__cart-item {
			align-items: center;
			padding: 3rem 0;
			.product-thumbnail {
				width: 50px;
				height: 50px;
				margin-left: 2rem;
				margin-right: 3rem;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.product-name {
				margin-right: auto;
			}
			.product-subtotal {
				margin-left: 0;
				margin-right: 0;
			}
			.product-price {
				margin-right: 0;
			}
			.product-quantity {
				margin-left: 50px;
				margin-right: 5rem;
				.quantity {
					display: flex;
				}
				.input-text {
					width: 70px;
					height: 50px;
					text-align: center;
					&[type=number] {
						-moz-appearance: textfield;
					}
					&::-webkit-inner-spin-button {
						-webkit-appearance: none;
					}
				}
				.plus, .minus {
					width: 50px;
					height: 50px;
					background-color: #fff;
					border: 1px solid #bebebe;
					cursor: pointer;
					&:active {
						opacity: .6;
					}
				}
			}
		}
	}
}


/* Archive */

.archive {
	.fmc_product_archive_header {
		display: flex;
		justify-content: space-between;
		@include limbo-min {
			align-items: center;
		}
		@include tab-max {
			flex-direction: column;
			.page-title {
				margin-bottom: var(--spacing-2);
			}
		}
	}
	.fmc_product_cats {
		display: flex;
		flex-wrap: wrap;
		@include mob-only {
			justify-content: center;
		}
		a {
			font-size: 16px;
			color: var(--link-color);
			padding: 16px;
			font-weight: 700;
			transition: var(--site-transition);
			border-bottom: 3px solid transparent;
			&.current, &:hover {
				border-color: #FF885C;
			}
		}
	}
	.products {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		@include limbo-min {
			.fmc_product {
				margin-bottom: 2.5%;
			}
		}
	}

}
