/* Archive */
.fmc_featured_macros {
	display: flex;
	justify-content: space-between;
	width: 80%;
	max-width: 390px;
	padding: 16px 32px;
	border: 1px solid #EAECF0;
	border-radius: 16px;
	margin-bottom: var(--spacing-2);
	.rg_macro {
		display: flex;
		flex-direction: column;
		width: 23%;
	}
	.rg_m_title {
		color: var(--misc-color);
		font-size: 16px;
		font-weight: 700;
	}
	.rg_m_amount {
		font-size: 24px;
		font-weight: 700;
		line-height: 1.375;
		margin-top: 4px;
	}

}


/* Category */

body.archive {
	.fmc_recipe {
		margin-bottom: var(--spacing-3);
		@include desk-min {
			width: 32%;
			margin-right: 0;
			&:not(:nth-child(3n + 3)) {
				margin-right: 2%;
			}
		}
		@include limbo-only {
			width: 49%;
			&:nth-child(even) {
				margin-right: 0;
			}
			&:nth-child(odd) {
				margin-right: 2%;
			}
		}
	}
}

.recipe_ad_after_featured {
	width: 90%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.fmc_archive_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.fmc_archive_main {
		@include limbo-min {
			width: 73%;
		}
	}
	.fmc_archive_inner {
		max-width: 100%;
	}
	.fmc_archive_sidebar {
		height: fit-content;
		@include sidebar-stick;
		@include limbo-min {
			width: 25%;
		}
		@include mob-only {
			width: 100%;
		}
		.fmc_arch_cats {
			background-color: #F9FAFB;
			padding: var(--spacing-2);
			border-radius: 16px;
		}
		.fmc_sidebar_title {
			font-size: 24px;
			margin-bottom: var(--spacing-3);
		}
		.sidebar-category {
			font-size: 18px;
			font-weight: 700;
			line-height: 1.36;
			margin-bottom: 16px;
			display: flex;
			span {
				color: var(--misc-color);
				font-weight: 700;
				margin-left: 4px;
			}
		}
	}
}

/* Global */

.fmc_grid_meta {
	display: flex;
	justify-content: space-between;
	.meta_rating {
		font-size: 14px;
		font-weight: 700;
		svg {
			margin-right: 5px;
		}
	}
}

.fmc_recipe_grid_title {
	font-size: 18px;
	font-weight: 700;
}

.fmc_recipe_grid_macros {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	margin-top: auto;
	.rg_macro {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		.rg_m_title {
			font-size: 14px;
			line-height: 19px;
			color: var(--misc-color);
			font-weight: 700;
		}
		.rg_m_amount {
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
		}
	}
}

.fmc_recipe {
	border: 2px solid #F2F4F7;
	display: flex;
	flex-direction: column;
	border-radius: 16px;
	transition: var(--site-transition);
	margin-bottom: var(--spacing-3);
	&:hover {
		box-shadow: 0px 20px 40px rgba(52, 64, 84, 0.08);
	}
	@include desk-min {
		width: 23%;
		&:not(:nth-child(4n + 4)) {
			margin-right: calc(8% / 3);
		}
		figure {
			height: 18rem;
		}
	}

	@include limbo-max {
		width: 49%;
		&:nth-child(odd) {
			margin-right: 2%;
		}
	}
	@include mob-only {
		width: 100%;
		margin-right: 0;
	}
	figure {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 16px 16px 0 0;
		}
	}
	.fmc_recipe_content {
		padding: 0 24px 24px;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}


/* Single */

.fmc_single_recipe {
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	@include desk-min {
		margin: auto;
		.fmc_sr_main  {
			width: 73%;
		}
		.fmc_sr_recipe_content {
			width: 80%;
			margin-left: auto;
		}
	}
	@include limbo-only {
		.fmc_sr_main  {
			width: 65%;
		}
	}
	@include limbo-min {
		display: flex;
	}
	.fmc_sr_main {
		.fmc_recipe_the_content * {
			font-size: 16px;
		}

	}

	/* Recipe Sidebar */

	.fmc_recipe_details {
		background-color: #F9FAFB;
		padding: var(--spacing-3);
		border-radius: 16px;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.fmc_sr_sidebar {
		height: fit-content;
		@include sidebar-stick;
		@include desk-min {
			width: 23%;
		}
		@include limbo-only {
			width: 30%;
		}
		.fmc_sidebar_rating {
			margin-bottom: var(--spacing-3);
			display: flex;
			align-items: center;
			font-size: 14px;
			font-weight: 700;
			img {
				margin-right: 8px;
			}
			span {
				font-size: 14px;
				font-weight: 700;
				color: var(--misc-color);
				margin-left: 8px;
			}
		}
		.fmc_rs_title {
			font-size: 16px;
			margin-bottom: 12px;
			font-weight: 800;
			font-family: Nunito;
		}
		.fmc_recipe_times {
			display: flex;
			flex-wrap: wrap;
			background-image: url(assets/icons/clock.svg);
			background-repeat: no-repeat;
			background-position: center left;
			padding-left: 32px;
			background-size: 20px;
			margin-bottom: var(--spacing-3);
			div {
				font-size: 16px;
				font-weight: 700;
				display: flex;
				flex-direction: column;
				position: relative;
				padding-right: 16px;
				&:not(:last-child) {
					&::after {
						content: "";
						height: 12px;
						width: 1px;
						background-color: var(--color-5);
						position: absolute;
						right: 8px;
						top: calc(50% - 6px);
					}
				}
				span {
					display: block;
				}
				.fmc_time {
					font-weight: 700;
					font-size: 14px;
					line-height: 19px;
					color: var(--misc-color);
				}
				.fmc_amount {
					font-weight: 700;
					font-size: 16px;
					line-height: 22px;
					color: var(--text-1);
				}
			}
		}

		/* Recipe Macros */

		.fmc_macros {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			.fmc_macro {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-weight: 700;
				font-size: 16px;
				line-height: 22px;
				color: var(--misc-color);
				margin-bottom: 1.6rem;
				span {
					color: var(--text-1);
					font-weight: 700;
				}
			}
		}
		.fmc_recipe_share {
			justify-content: space-between;

		}
	}
	.fmc_additional_macro {
		* {
			font-size: var(--body-size-2);
		}
	}
}

.fmc_video {
	margin-bottom: 1rem;
	left: 0;
	z-index: 2;
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	iframe {
		width: 100%;
		height: 100%;
	}
	@include desk-min {
		&:not(.stuck) {
			iframe, object, embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		&.stuck {
			position: fixed;
			top: 2rem;
			left: 2rem;
			width: 360px;
			height: 195px;
			transform: translateY(-100%);
			animation: fade-in-up 0.75s ease forwards;
			z-index: 3;
			pointer-events: none;
			iframe {
				width: 360px;
				height: 195px;
				pointer-events: all;
			}
		}
	}
	@include limbo-max {
		iframe, object, embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
@keyframes fade-in-up {
	0% {
		opacity: 0;
   }
	100% {
		transform: translateY(0);
		opacity: 1;
   }
}

.carousel-main {
	.carousel-cell {
		width: 100%;
		img, picture {
			border-radius: 16px;
		}
		@include limbo-min {
			height: 49rem;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}
.carousel-nav {
	.carousel-cell {
		width: 10rem;
		height: 12rem;
		padding: 2rem 1rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 16px;
		}
	}
	.flickity-button {
		display: flex;
		justify-content: center;
		box-shadow: 0px 12px 32px rgba(52, 64, 84, 0.08);
		border: 2px solid #F2F4F7;
		@include mob-only {
			width: 30px;
			height: 30px;
		}
		.flickity-button-icon {
			fill: var(--text-1);
			width: 15px;
			left: auto;
			right: auto;
		}
		&.previous {
			left: 0;
		}
		&.next {
			right: 0;
		}
	}
}
.fmc_title_prefix {
	text-align: left;
	width: 100%;
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 800;
	color: var(--misc-color);
}
.fmc_related_recipes {

	.fmc_title_2 {
		text-align: left;
	}
}

/* Recipe Main */

.fmc_ingredients {
	* {
		font-size: 16px;
	}
	ul {

		li {
			margin-bottom: 16px;
		}
	}
	img {
		border-radius: 16px;
	}
	@include tab-max {
		font-size: 16px;
		ul li {
			margin-bottom: 3rem;
		}
	}
}

.fmc_steps {
	* {
		font-size: 16px;
	}
	.fmc_step_title {
		font-family: Nunito;
		font-size: 2.4rem;
		color: var(--color-1);
		font-weight: 700;
		@include tab-max {
			font-size: 18px;
		}
	}
	img, picture {
		margin-top: 2rem;
		display: block;
		border-radius: 16px;
	}
	.fmc_step { // Temp
		margin-bottom: 4rem;
		.fmc_step_title {
			line-height: 1.45;
			margin-bottom: .5rem;
			color: var(--color-1);
		}
		.fmc_step_content *{
			font-size: 16px;
		}
	}
}


/* About the Chef */

.fmc_chef {
	margin-bottom: var(--spacing-2);
	@include mob-only {
		padding: 0 3rem;
	}
	@include tab-min {
		padding: 8rem 7.2rem 0;
	}
	@include tab-only {
		padding-top: 40rem;
	}
	.img_bg {
		@include mob-only {
			position: relative;
		}
	}
	img {
		border-radius: 16px;
		object-position: center;
	}
	.fmc_chef_inner {
		@include limbo-min {
			width: 50%;
			max-width: 55rem;
		}
		@include mob-only {
			padding: 4rem 0 0;
		}
		z-index: 2;
		margin-left: auto;
		background-color: #fff;
		padding: 4rem 4.8rem 2.8rem;
		border-radius: 16px 16px 0 0;
		.fmc_author_prefix {
			font-size: 12px;
			color: var(--misc-color);
			font-weight: 400;
		}
		.fmc_chef_content {
			* {
				font-size: 16px;
				font-style: italic;
			}
		}
		.fmc_chef_share {
			display: flex;
			padding-top: 3rem;
			div {
				svg {
					height: 20px;
					path {
						fill: var(--misc-color);
						transition: var(--site-transition);
					}
					&:hover {
						path {
							fill: var(--color-1);
						}
					}
				}
				&:not(:last-child) {
					svg {
						margin-right: var(--spacing-3);
					}
				}
			}
		}
	}
	@include tab-max {
		padding-bottom: 0;
		&::before {
			width: auto;
			height: 100%;
			left: -2rem;
			background-position: bottom left;
			background-size: 30rem;
		}
		.fmc_chef_inner {
			width: 100%;
			.fmc_chef_share {
				padding-bottom: 3rem;
				justify-content: flex-end;
				div {
					svg {
						height: 3rem;
					}
					&:not(:last-child) {
						svg {
							margin-right: 2rem;
						}
					}
				}
			}
		}

	}
}

/* Print */

.fmc_print_template {
	max-width: 650px;
	margin: auto;
	.fmc_pt_btns {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		margin-top: 30px;
		a {
			font-size: 20px;
			height: 4rem;
			cursor: pointer;
			&:first-child {
				margin-right: 10px;
				background-color: var(--color-3);
				color: #000;
			}
		}

	}
	.fmc_pt_inner {
		font-size: 15px;
		line-height: 1.5;
		padding: 15px;
		background-color: #fafafa;

		h4 {
			font-size: 18px;
			margin-bottom: 10px;
		}
		ol {
			margin-left: 20px;
		}
		p {
			margin: 0;
		}
		.fmc_pt_ingredients {
			margin-bottom: 15px;
		}
		.fmc_pt_hero {
			display: flex;
			margin-bottom: 20px;
			.fmc_pt_hero_left {
				width: 30%;
				margin-right: 20px;
				img {
					width: 100%;
					height: auto;
				}
			}
			.fmc_pt_hero_right {
				h1 {
					font-size: 25px;
					line-height: 1.1;
					margin-bottom: 10px;
				}
				.fmc_recipe_times {
					margin-top: 10px;
					strong {
						margin-right: 50px;
					}
				}
				ul {
					display: inline-flex;
					flex-wrap: wrap;
					li {
						margin-right: 10px;
					}
				}
			}
		}
		.fmc_pt_main {
			img, picture {
				display: none;
			}
		}
	}
}
@media print {
	body {
		padding-top: 50px!important;
	}
	.fmc_pt_btns {
		display: none!important;
	}

}
