/* Category */

@include limbo-only {
	.fmc_recipe, .fmc_post {
		width: 30%;
		margin-bottom: 4%;
		&:not(:nth-child(3n + 3)) {
			margin-right: 5%;
		}
	}
}
@include tab-only {
	.fmc_recipe, .fmc_post {
		width: 48%;
		margin-bottom: 4%;
		&:nth-child(2n + 1) {
			margin-right: calc(4% - 4px);
		}
	}
}


@include mob-only {
	.fmc_recipe, .fmc_post {
		width: 100%;
		margin-bottom: 4rem;
	}
}

/* Global */

.fmc_recipe {
	box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.07);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	@include desk-min {
		margin-bottom: calc(8% / 3);
		width: 23%;
		&:not(:nth-child(4n + 4)) {
			margin-right: calc(8% / 3);
		}
		figure {
			height: 17rem;
		}
	}
	figure {
		padding: 1rem;
		display: block;
		margin-bottom: 1.5rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	h3 {
		font-size: 21px;
		line-height: 1.5;
		text-align: center;
		width: 90%;
		margin: auto;
		margin-bottom: 1rem;
		font-weight: 700;
		font-family: "Roboto";
		a {
			color: #000;
		}
	}
	.calories {
		width: 100%;
		text-align: center;
		display: block;
		margin-top: auto;
		margin-bottom: 1.5rem;
		font-size: 17px;
	}
	.details_1 {
		display: flex;
		border-top: 1px solid #dedfdf;
		border-bottom: 1px solid #dedfdf;
		div {
			width: calc(100% / 3);
			padding: 1.5rem;
			text-align: center;
			font-size: 17px;
			span {
				display: block;
				font-weight: 500;
				color: var(--color-2);
				margin-top: .5rem;
				font-weight: 500;
			}
			&:nth-child(2) {
				border-left: 1px solid #cccccc;
				border-right: 1px solid #cccccc;
			}
		}
	}
	.details_2 {
		display: flex;
		div {
			width: 50%;
			padding: 2rem;
			font-size: 15px;
			@include tab-max {
				padding: 2rem 4rem;
			}
			span {
				display: block;
				color: #000;
				font-weight: 700;
				margin-top: .5rem;
			}
			&:last-child {
				text-align: right;
			}
		}
	}
}


/* Single */
.fmc_recipe_hero:not(.fmc_additional_recipe_hero) {
	background: linear-gradient(180deg, var(--color-3) calc(100% - 36rem), rgba(0,0,0,0) calc(100% - 36rem));
	text-align: center;
	padding-top: 10rem;
}
.fmc_recipe_hero {
	&.test {
		background-color: var(--color-3);
	}
	.fmc_recipe_times {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		border-top: 1px solid #a6a6a6;
		border-bottom: 1px solid #a6a6a6;
		padding-top: 2rem;
		padding-bottom: 2rem;
		div {
			font-size: 2.2rem;
			color: #000;
			margin-right: 2.5rem;
			margin-left: 2.5rem;
			font-weight: 500;
			display: flex;
			justify-content: center;
			align-items: center;
			.fmc_icon {
				display: inline-flex;
				width: 2.5rem;
				height: 2.5rem;
				margin-right: 7px;
				path {
					fill: var(--color-2);
				}
			}
			span:not(.fmc_icon) {
				font-weight: 700;
				color: var(--color-1);
				margin-left: 1.3rem;
			}
			@include mob-only {
				font-size: 2.5rem;
				&:not(:last-child) {
					margin-bottom: 1rem;
				}
			}
		}
	}
	.fmc_recipe_share {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
		div {
			margin-left: 1.3rem;
			margin-right: 1.3rem;
			@include mob-only {
				&:not(:last-child) {
					margin-bottom: 1.3rem;
				}
			}
		}
		a {
			font-size: 2rem;
			color: #000;
			display: flex;
			justify-content: center;
			align-items: center;
			@include mob-only {
				font-size: 2.3rem;
			}
			.fmc_icon {
				background-color: #fff;
				border-radius: 30px;
				width: 4rem;
				height: 4rem;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				border: 1px solid #d1d1d1;
				margin-right: 1rem;
				transition: var(--site-transition);
			}
			svg {
				width: 2rem;
				height: 2rem;
				path {
					fill: var(--color-2);
					transition: var(--site-transition);
				}
			}
			&:hover {
				.fmc_icon {
					background-color: var(--color-2);
				}
				svg {
					path {
						fill: #fff;
					}
				}
			}
		}
	}
}
.fmc_video {
	margin-bottom: 1rem;
	left: 0;
	z-index: 2;
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	iframe {
		width: 100%;
		height: 100%;
	}
	@include desk-min {
		&:not(.stuck) {
			iframe, object, embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		&.stuck {
			position: fixed;
			top: 2rem;
			left: 2rem;
			width: 360px;
			height: 195px;
			transform: translateY(-100%);
			animation: fade-in-up 0.75s ease forwards;
			z-index: 1;
			iframe {
				width: 360px;
				height: 195px;
			}
		}
	}
	@include limbo-max {
		iframe, object, embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
@keyframes fade-in-up {
	0% {
		opacity: 0;
   }
	100% {
		transform: translateY(0);
		opacity: 1;
   }
}

.carousel-main {
	.carousel-cell {
		width: 100%;
		@include limbo-min {
			height: 69rem;
		}
		background-color: red;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}
.carousel-nav {
	background-color: #b2b2b2;
	.carousel-cell {
		width: 14rem;
		height: 14rem;
		padding: 2rem 1rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.flickity-button {
		height: 100%;
		border-radius: 0;
		background-color: var(--color-2);
		display: flex;
		justify-content: center;
		@include mob-only {
			width: 30px;
		}
		.flickity-button-icon {
			fill: #fff;
			width: 15px;
			left: auto;
			right: auto;
		}
		&.previous {
			left: 0;
		}
		&.next {
			right: 0;
		}
	}
}

/* Recipe Macros */

.fmc_macros {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3rem;
	.fmc_macro {
		padding: 1rem;
		border: 1px solid #b2b2b2;
		.fmc_macro_inner {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 20px;
			height: 100%;
			@include mob-only {
				font-size: 16px;
			}
			span {
				color: var(--color-2);
				font-weight: 700;
			}
		}
		@include limbo-min {
			width: calc(100% / 7 - 2rem - 2px);
			min-height: 9.5rem;
		}
		@include tab-max {
			padding: 1rem 3rem;
			border: none;
		}
	}
	@include tab-max {
		justify-content: center;
	}
}

/* Recipe Main */

.fmc_recipe_main {
	margin-top: 10rem;
}
.fmc_recipe_the_content {
	font-size: 18px;
	@include mob-only {
		font-size: 16px;
	}
}
.fmc_ingredients {
	background-color: #f0f0f0;
	padding: 5rem 4rem;
	position: sticky;
	top: 0;
	font-size: 18px;
	.fmc_ingredient { // Temp
		margin-bottom: 5rem;
		.fmc_ing_title {
			font-size: 22px;
			line-height: 1.45;
			margin-bottom: .5rem;
		}
		.fmc_ing_content {
			font-size: 18px;
		}
	}
	ul {
		li {
			margin-bottom: 5rem;
			strong {
				font-size: 22px;
				line-height: 1.45;
				margin-bottom: .5rem;
				display: block;
			}
		}
	}
	@include tab-max {
		font-size: 16px;
		ul li {
			margin-bottom: 3rem;
		}
	}
}

.fmc_recipe_main_steps {
	.fmc_main_title {
		margin-top: 5rem;
	}
}
.fmc_steps {
	padding-bottom: 5rem;
	font-size: 2.3rem;
/* 	position: sticky;
	top: 0; */
	@include tab-max {
		font-size: 16px;
	}
	ol {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			counter-increment: inst;
			margin-bottom: 4rem;
			&::before {
				content: "Step # " counter(inst);
				display: block;
				line-height: 1.45;
				margin-bottom: .5rem;
				color: var(--color-1);
				font-weight: 700;
			}
		}
	}
	img, picture {
		margin-top: 2rem;
		margin-bottom: 1rem;
		display: block;
	}
	.fmc_step { // Temp
		margin-bottom: 4rem;
		.fmc_step_title {
			line-height: 1.45;
			margin-bottom: .5rem;
			color: var(--color-1);
		}
		.fmc_step_content {
			font-size: 2.3rem;
		}
	}
}


/* About the Chef */

.fmc_chef {
	background: linear-gradient(180deg, #fff 7%, #eeeeee 7%);
	padding: 10rem 7.5rem;
	background-repeat: no-repeat;
	@include mob-only {
		background: #eeeeee;
	}
	&::before {
		@include pseudo;
		background-image: url(assets/images/about-the-chef.png);
		z-index: 2;
		width: 53%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom left;
		left: 4.5rem;
		pointer-events: none;
	}
	.fmc_chef_inner {
		width: calc(50% - 7.5rem);
		margin-left: auto;
		.fmc_chef_content {
			font-size: 1.9rem;
			line-height: 1.9;
		}
		.fmc_chef_share {
			display: flex;
			padding-top: 3rem;
			div {
				svg {
					height: 25px;
					path {
						fill: var(--color-1);
						transition: var(--site-transition);
					}
					&:hover {
						path {
							fill: var(--color-2);
						}
					}
				}
				&:not(:last-child) {
					svg {
						margin-right: 3rem;
					}
				}
			}
		}
	}
	@include tab-max {
		padding-bottom: 0;
		&::before {
			width: auto;
			height: 100%;
			left: -2rem;
			background-position: bottom left;
			background-size: 30rem;
		}
		.fmc_chef_inner {
			width: 100%;
			.fmc_chef_share {
				padding-top: 25rem;
				padding-bottom: 3rem;
				justify-content: flex-end;
				div {
					svg {
						height: 3rem;
					}
					&:not(:last-child) {
						svg {
							margin-right: 2rem;
						}
					}
				}
			}
		}

	}
}


.single-recipes {
	.fmc_recipe_grid {
		background-color: #f8f8f8;
	}
}

/* Print */

.fmc_print_template {
	max-width: 650px;
	margin: auto;
	.fmc_pt_btns {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		margin-top: 30px;
		a {
			font-size: 20px;
			height: 4rem;
			cursor: pointer;
			&:first-child {
				margin-right: 10px;
				background-color: var(--color-3);
				color: #000;
			}
		}

	}
	.fmc_pt_inner {
		font-size: 15px;
		line-height: 1.5;
		padding: 15px;
		background-color: #fafafa;

		h4 {
			font-size: 18px;
			margin-bottom: 10px;
		}
		ol {
			margin-left: 20px;
		}
		p {
			margin: 0;
		}
		.fmc_pt_ingredients {
			margin-bottom: 15px;
		}
		.fmc_pt_hero {
			display: flex;
			margin-bottom: 20px;
			.fmc_pt_hero_left {
				width: 30%;
				margin-right: 20px;
				img {
					width: 100%;
					height: auto;
				}
			}
			.fmc_pt_hero_right {
				h1 {
					font-size: 25px;
					line-height: 1.1;
					margin-bottom: 10px;
				}
				.fmc_recipe_times {
					margin-top: 10px;
					strong {
						margin-right: 50px;
					}
				}
				ul {
					display: inline-flex;
					flex-wrap: wrap;
					li {
						margin-right: 10px;
					}
				}
			}
		}
		.fmc_pt_main {
			img, picture {
				display: none;
			}
		}
	}
}
@media print {
	body {
		padding-top: 50px!important;
	}
	.fmc_pt_btns {
		display: none!important;
	}

}
