.asp_main_container {
	box-shadow: 0px 20px 40px rgba(52, 64, 84, 0.08)!important;
	border: 1px solid #F2F4F7!important;
}
.page-template-search-page {
	h2 {
		text-align: center;
	}
}
.fmc_search_cats {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	figure {
		width: 9%;
		transition: var(--site-transition);
		border-radius: 16px;
		margin: .5%;
		text-align: center;
		@include limbo-only {
			width: calc(100% / 8 - 1%);
		}
		@include tab-only {
			width: calc(100% / 6 - 1%);
		}
		@include mob-only {
			margin: .5% 1%;
			width: calc(100% / 3 - 2%);
		}
		a {
			text-decoration: none;
			padding: 8px var(--spacing-3);
			display: block;
		}

		figcaption {
			text-align: center;
			margin-top: 1rem;
			font-size: 16px;
			font-weight: 700;
			color: var(--link-color);
		}
		&:hover {
			box-shadow: 0px 20px 40px rgba(52, 64, 84, 0.08);
		}
	}

}
.fmc_search_hero {
	background-color: #F3F4F6;
	.search_title {
		font-size: 20px;
		text-align: center;
	}
	.fmc_container {
		max-width: 550px;
		width: 90%;
		@include limbo-max {
			margin: auto;
		}
	}
}
@include mob-only {
	.prosettings, .promagnifier {
		width: 40px!important;
		height: 40px!important;
		flex: 40px 0 0!important;
		.innericon {
			width: 30px!important;
			height: 30px!important;
			padding: 5px!important;
		}
	}
	.probox {
		height: 40px!important;
		margin: 3px!important;
		.proinput {
			margin-left: 0!important;
			input.orig {
				height: 40px!important;

			}
			input.autocomplete {
				height: 40px!important;
				margin-top: -40px!important;

			}
		}
	}
	.proclose {
		width: 40px!important;
		height: 40px!important;
		flex: 40px 0 0!important;
	}
}
.page-template {
	#ajaxsearchpro1_1 .probox .proinput input.orig, #ajaxsearchpro1_2 .probox .proinput input.orig, div.asp_m.asp_m_1 .probox .proinput input.orig {
		padding-top: 1px!important;
	}
}


.prosettings {
	svg {
		transition: var(--site-transition);
	}
	.innericon {
		transition: var(--site-transition);
	}
	&[data-opened="1"] {
		svg {
			opacity: 0;
		}
		.innericon {
			background-image: url(assets/icons/close.svg);
		}
	}
}
#ajaxsearchprosettings1_1 {
	z-index: 999;
	max-width: unset!important;
	pointer-events: none;
	background: transparent;
	@include limbo-min {
		position: fixed!important;
		left: auto!important;
		right: 0;
		top: 0!important;
		height: 100vh;
		form {
			width: 420px;
			margin-right: 0;
			margin-left: auto!important;
		}
	}
	@include tab-max {
		max-width: 550px!important;
		width: calc(100vw - 50px)!important;
		margin-left: -5px;
		.asp_select_single {
			padding: 0;
		}
	}
 	form {
		pointer-events: all;
		height: 100%;
		background-color: #fff;
		border-radius: 16px;
		padding: var(--spacing-3)!important;
		overflow: auto;
		box-sizing: border-box;
		&::before {
			content: "Filters";
			border-bottom: 2px solid #F2F4F7;
			width: 100%;
			font-size: var(--title-size-4);
			padding-bottom: 16px;
			margin-bottom: 16px;
			font-weight: 700;
			@include mob-only {
				padding-bottom: 5px;
				margin-bottom: 10px;
			}
		}
		.category_filter_box {
			margin-bottom: 16px!important;
		}
		select {
			background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAuMjM0MzE1IDAuODM0NDEyQzAuNTQ2NzM0IDAuNTIxOTkzIDEuMDUzMjcgMC41MjE5OTMgMS4zNjU2OSAwLjgzNDQxMkw0IDMuNDY4NzNMNi42MzQzMSAwLjgzNDQxMkM2Ljk0NjczIDAuNTIxOTkzIDcuNDUzMjcgMC41MjE5OTMgNy43NjU2OSAwLjgzNDQxMkM4LjA3ODExIDEuMTQ2ODMgOC4wNzgxMSAxLjY1MzM2IDcuNzY1NjkgMS45NjU3OEw0LjU2NTY5IDUuMTY1NzhDNC4yNTMyNyA1LjQ3ODIgMy43NDY3MyA1LjQ3ODIgMy40MzQzMSA1LjE2NTc4TDAuMjM0MzE1IDEuOTY1NzhDLTAuMDc4MTA0OSAxLjY1MzM2IC0wLjA3ODEwNDkgMS4xNDY4MyAwLjIzNDMxNSAwLjgzNDQxMloiIGZpbGw9IiM2NjcwODUiLz4KPC9zdmc+Cg==) no-repeat 95% 50%;
			height: 44px;
			color:  #98A2B3;
			font-family: Nunito;
			font-size: 15px;
			font-weight: 500;
			cursor: pointer;
			-webkit-appearance: none;
			background-color: #F9FAFB;
			border: 1px solid #F2F4F7;
			border-radius: 8px;
		}
		.asp_noui_lu {
			margin-top: 26px;
			display: block;
			margin-left: 0;
			margin-right: 0;
			@include tab-max {
				margin-top: 15px;
			}
		}
		.slider-handles-up, .slider-handles-low {
			font-size: 13px;
			@include limbo-min {
				font-size: 15px;
				font-family: Nunito;
				font-weight: 500;
				width: 80px;
				height: 32px;
				background-color: #F9FAFB;
				border: 1px solid #F2F4F7;
				border-radius: 8px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.noUi-target {
			height: 4px;
			box-shadow: none;
			margin-bottom: 12px;
			background-color: #667085;
			@include tab-max {
				margin: 5px;
			}
		}
		.noUi-handle {
			border-radius: 16px;
			background-color: #D0D5DD;
			top: -8px;
			box-shadow: none;
			&:after {
				display: none;
			}
			&:before {
				width: 9px;
				background-color: #667085;
				left: 6px;
				border-radius: 8px;
			}
		}
		.asp_s_btn_container {
			border-top: 2px solid #F2F4F7;
			padding-top: 16px!important;
			margin-top: 16px!important;

			.asp_reset_btn asp_r_btn {
				margin-left: -10px;
			}
		}
		fieldset {
			width: 100%!important;
			legend {
				font-size: 14px;
				font-weight: 700;
				color: var(--link-color);
				padding: 0;
				@include tab-max {
					padding-left: 0!important;
				}
			}
		}
		@include tab-max {
			justify-content: space-evenly;
		> div:last-child {
			display: none;
		}
		}
	}
}

.fmc_toggle_content {
	display: none;
}
.fmc_toggle_trigger {
	transition: var(--site-transition);
	display: flex;
	align-items: center;
	svg {
		position: relative;
		margin-left: var(--spacing-3);
		transition: var(--site-transition);
		flex-shrink: 0;
		@include limbo-min {
			top: 5px;
		}
		@include tab-max {
			width: 20px;
			top: 3px;
		}
	}
	cursor: pointer;
	&.fmc_toggle_open {
		padding-bottom: var(--spacing-2);
		svg {
			transform: rotate(-180deg);
		}
	}
}

.fmc_no_results {
	text-align: center;
	max-width: 600px;
	padding-top: 8rem;
	padding-bottom: 8rem;
	h4 {
		font-size: 24px;
		margin-bottom: 8px;
		margin-top: 16px;
	}
}

@include tab-min {
	.page-template-search-page, .search-results {
		.prosettings {
			&::before {
				content: 'Filter';
				font-size: 15px;
				line-height: 15px;
				position: absolute;
				font-weight: 600;
				display: block;
				color: #000;
				top: calc(50% - 6.5px);
				left: 43px;
				z-index: 9999;
				color: var(--color-1);
				transition: var(--site-transition);
			}
			&[data-opened="1"] {
				&:before {
					content: 'Close';
					color: var(--color-2);
					opacity: .5;
				}
			}
		}
		.proinput {
			padding-left: 35px!important;
		}
	}
}
